{%- assign animation_row = 1 -%}
{%- assign drawer_position = 'left' -%}
{% if logo_alignment == 'center' %}
  {%- assign drawer_position = 'left' -%}
{% endif %}

<div id="NavDrawer" class="drawer drawer--{{ drawer_position }}">
  <div class="drawer__close">
    <button type="button" class="drawer__close-button js-drawer-close">
      {% include 'icon-close' %}
      <span class="icon__fallback-text">{{ 'general.drawers.close_menu' | t }}</span>
    </button>
  </div>
  <div class="drawer-body">
    <div class="grid">
      <div class="grid__item small--one-whole drawer-link">
        {% for block in section.blocks %}
          {% if block.type == 'home-links' %}
        	<a href="{{ block.settings.home_link }}">{{ block.settings.home_title }}</a>
          {% endif %}
        {% endfor %}
      </div>
      <div class="grid__item small--one-whole drawer-title-link">
        <h4>
        	{% for block in section.blocks %}
              {% if block.type == 'get-started-title' %}
               {{ block.settings.get_started_heading }}
              {% endif %}
            {% endfor %}
        </h4>
        {% for block in section.blocks %}
          {% if block.type == 'get-started-links' %}
        	<a href="{{ block.settings.get_started_link }}">{{ block.settings.get_started_title }}</a>
          {% endif %}
        {% endfor %}
      </div>
      <div class="grid__item small--one-whole drawer-title-link">
        <h4>
        	{% for block in section.blocks %}
              {% if block.type == 'our-products-title' %}
               {{ block.settings.our_products_heading }}
              {% endif %}
            {% endfor %}
        </h4>
        {% for block in section.blocks %}
          {% if block.type == 'our-products-links' %}
        	<a href="{{ block.settings.our_products_link }}">{{ block.settings.our_products_title }}</a>
          {% endif %}
        {% endfor %}
      </div>
      <div class="grid__item small--one-whole drawer-title-link">
        <h4>
        	{% for block in section.blocks %}
              {% if block.type == 'refer-title' %}
               {{ block.settings.refer_heading }}
              {% endif %}
            {% endfor %}
        </h4>
        {% for block in section.blocks %}
          {% if block.type == 'refer-links' %}
        	<a class="friendbuy-exj-ssd" href="#">GET $5</a>
          {% endif %}
        {% endfor %}
      </div>
      <div class="grid__item small--one-whole drawer-title-link">
        <h4>
        	{% for block in section.blocks %}
              {% if block.type == 'about-title' %}
               {{ block.settings.about_heading }}
              {% endif %}
            {% endfor %}
        </h4>
        {% for block in section.blocks %}
          {% if block.type == 'about-links' %}
        	<a href="{{ block.settings.about_link }}">{{ block.settings.about_title }}</a>
          {% endif %}
        {% endfor %}
      </div>
      <div class="grid__item small--one-whole drawer-link">
        {% for block in section.blocks %}
          {% if block.type == 'account-links' %}
        	<a href="{{ block.settings.account_link }}"><h4>{{ block.settings.account_title }}</h4></a>
          {% endif %}
        {% endfor %}
      </div>
      <div class="grid__item small--one-whole drawer-link">
        <a href="/pages/contact"><h4>CONTACT</h4></a>
      </div>
    </div>
  </div>
</div>
