{%- assign collection = collections[section.settings.home_featured_products] -%}

{% if section.settings.divider %}<div class="section--divider">{% endif %}

<div style="margin-top: 0;"
  id="CollectionSection-{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="collection-template">
  {% if section.settings.title != blank %}
    <div class="page-width">
      <div class="section-header{% if section.settings.view_all %}{% unless settings.type_headers_align_text %} section-header--with-link{% endunless %}{% endif %}">
        <h2 class="section-header__title">
          {{ section.settings.title }}
        </h2>
        
      </div>
    </div>
  {% endif %}

  <div class="page-width full_width mix_pack_product no_padding {% if section.settings.mobile_scrollable %}page-width--flush-small{% endif %}">
    <div {% if section.settings.mobile_scrollable %}class=" grid-overflow-wrapper"{% endif %}>
      <div class="grid grid--uniform" {% if section.settings.mobile_scrollable %}data-aos="overflow__animation"{% endif %}>


        {% if section.settings.home_featured_products == blank or collections[section.settings.home_featured_products].empty? or collections[section.settings.home_featured_products].products_count == 0 %}

          {% unless emptyState %}
            {%- assign emptyState = true -%}
          {% endunless %}

          <div class="grid__item">
            <div class="grid grid--uniform">
                <div class="grid__item grid-product ">
                  <div class="grid-product__content">
                    <a href="{{ product.url | within: collection }}" class="grid-product__link {% if sold_out %} grid-product__link--disabled{% endif %}">
                      <div class="grid-product__image-mask">
                        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                        <div class="image-wrap">{{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}</div>
                      </div>
                      <div class="grid-product__meta">
                        <div class="grid-product__title">{{ 'home_page.onboarding.product_title' | t }}</div>
                        <div class="grid-product__price">$29</div>
                      </div>
                    </a>
                  </div>
                </div>
            </div>
          </div>

        {% else %}

          {% for product in collections[section.settings.home_featured_products].products limit: product_limit %}
            {% include 'product_grid_item_full_width' %}
          {% endfor %}

          {% if section.settings.view_all %}

            {% if section.settings.rows > 1 %}
              <div class="grid__item text-center {% if section.settings.mobile_scrollable %}small--hide{% endif %}">
                <a href="{{ collections[section.settings.home_featured_products].url }}" class="btn">{{ 'collections.general.all_of_collection' | t }}
                </a>
              </div>
            {% endif %}

            {% if section.settings.mobile_scrollable %}
              <div class="grid__item grid__item--view-all text-center {{ grid_item_width }} medium-up--hide">
                <a href="{{ collections[section.settings.home_featured_products].url }}" class="grid-product__see-all">
                  {{ 'collections.general.view_all_products_html' | t: count: collection.products_count }}
                </a>
              </div>
            {% endif %}

          {% endif %}

        {% endif %}
      </div>
    </div>
    {% if section.settings.view_all and section.settings.rows == 1 %}
    <div class="rte" style="text-align: center;">
          <a href="{{ collections[section.settings.home_featured_products].url }}" class="btn btn_margin_top text-link">{{ 'collections.general.all_of_collection' | t }}</a>
    </div>
    {% endif %}
  </div>
    
</div>
{% if settings.quick_shop_enable %}
  {% for product in collections[section.settings.home_featured_products].products limit: product_limit %}
    {% include 'quick-shop-modal' %}
  {% endfor %}
{% endif %}

{% if section.settings.divider %}</div>{% endif %}


{% schema %}
  {
    "name": "Featured collection",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "type": "collection",
        "id": "home_featured_products",
        "label": "Collection"
      },
      {
        "type": "textarea",
        "id": "product_short_text",
        "label": "Short Text"
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      }
    ],
    "presets": [{
      "name": "Featured collection",
      "category": "Collection"
    }],
    "blocks" : []
  }
{% endschema %}
