{% if section.settings.divider %}<div class="section--divider">{% endif %}

<div
  data-section-id="{{ section.id }}"
  data-section-type="featured-content-section"
  class="text-{{ section.settings.align_text }}">

  <div class="page-width">
    <div class="grid">
      <div class="grid__item{% if section.settings.narrow_column %} medium-up--three-quarters medium-up--push-one-eighth{% endif %}">
        {% if section.settings.title != blank %}
          <h2>{{ section.settings.title }}</h2>
        {% endif %}

        {% if section.settings.text != blank %}
          <div class="rte text_link_inline">
            {% if section.settings.enlarge_text %}<div class="enlarge-text">{% endif %}
            {{ section.settings.text }}
            {% if section.settings.button_label != blank %}
            <p><a href="{{ section.settings.button_link }}" class="simple_link">
            {{ section.settings.button_label }}
              </a></p>
              {% endif %}
            {% if section.settings.enlarge_text %}</div>{% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% if section.settings.divider %}</div>{% endif %}

{% schema %}
  {
    "name": "Library Text",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>A sentence or two introducing your brand, what you sell, and what makes your brand compelling to customers.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label",
        "default": "Optional button"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Link"
      },
      {
        "type": "select",
        "id": "align_text",
        "label": "Text alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Centered"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "narrow_column",
        "label": "Narrow column"
      },
      {
        "type": "checkbox",
        "id": "enlarge_text",
        "label": "Enlarge text",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      }
    ],
    "presets": [{
      "name": "Library Text",
      "category": "Library"
    }]
  }
{% endschema %}
