<div class="level_landing pb-5">
  
  <div class="ll_header text-white li_header-mini">
  	<div class="container">
      <div class="row logo_row">
        <div class="col-md-12 text-center">
         <a class="text-white font-weight-bolder" href="https://levelfoods.com/collections/level-bars"><img class="levelLogo" src="{{'image_6.png' | asset_url}}"></a>
        </div>
      </div>
      <div class="row my-5 flexsy align-items-center">
        <div class="col-12 jnex mini-banner">
          <div class="text-wrapper text-wrapper-mini">
            <div class="bg-transparent">
              <p class="sub_header" style="display:none;">SMARTER SNACKING STARTS HERE</p>
              <h1 class="header_taster header_mini new_set_removable">SMARTER SNACKING <span class="highlight-2">STARTS HERE</span></h1>
              <p class="shipping_text" style="display:none;">$2.95/BAR <span> + LIMITED $1</span> shipping</p>
            </div>
           
          </div>
        </div>
        <img class="mini-banana-img" src="{{'mini-banana-1.png' | asset_url}}" alt="mini-banana" />
        <img class="mini-cookie-img" src="{{'mini-cookie-1.png' | asset_url}}" alt="mini-cookie" />
        <img class="mini-salted-img" src="{{'mini-salted-1.png' | asset_url}}" alt="mini-salted" />
      </div>
    </div>
  </div>   <!-- .ll_header end -->
  
  <div class="ll_protein_bar p-5 jntophome">
  	<div class="container">
      <div class="row text-center pb-5">
      	<div class="col-md-12 ngnopadd">
          <h1>WE'RE NOT YOUR <br>
            AVERAGE <span class="highlight-2">MINI BAR</span>
          </h1>
        </div>
      </div> <!-- first row end -->
      <div class="row text-center">
      <div class="col">
          <img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/gluten-free.png?v=1587603463" alt="" srcset=""><br>
          <p>GLUTEN FREE</p>
      </div>
      <div class="col">
          <img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/no-gmo.png?v=1587604077" alt="" srcset=""><br>
        <p>NON <span>GMO</span></p>
      </div>
      <div class="col">
          <img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/dairy-free.png?v=1587604519" alt="" srcset=""><br>
        <p>DAIRY <span>FREE</span></p>
      </div>
      <div class="col">
          <img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/soy-free.png?v=1587605046" alt="" srcset=""><br>
        <p>SOY <span>FREE</span></p>
      </div>
      <div class="col">
          <img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/sugar-alcohols.png?v=1587605235" alt="" srcset=""><br>
        <p>NO SUGAR <span>ALCOHOLS</span></p>
      </div>
    </div>
      
    </div>
  </div>  <!-- .ll_top_product end -->

  </div>   <!--   .ll_protein_bar end -->

  <div class="ll_protein_title_bar jntophome">
  	<div class="container">
      <div class="row text-center pb-5">
      	<div class="col-md-12 ngnopadd">
          <h1>110CCAL, 7G OF PROTEIN
          </h1>
        </div>
      </div> <!-- first row end -->
    </div>
  </div>  <!-- .ll_top_product end -->
<!-- product1 -->
  <div class="ll_mini_product1 jntophome">
  	<img src="{{'mini-product-1.png' | asset_url}}" />
    <h1 class="mini_product_title">
      BANANA BREAD
    </h1>
    <span class="mini_product_description">
      Lorem ipsum dolor sit amet, consetetur sadiscing elitr, sed diam nonumy.
    </span>
    <a href="https://levelfoods.com/products/banana-bread?variant=32183586324589" class="btn_mini_product_1">SHOP</a>
  </div>
<!-- end product1 -->
<!-- product2 -->
  <div class="ll_mini_product2 jntophome">
  	<img src="{{'mini-product-2.png' | asset_url}}" />
    <h1 class="mini_product_title">
      OAT COOKIE
    </h1>
    <span class="mini_product_description">
      Lorem ipsum dolor sit amet, consetetur sadiscing elitr, sed diam nonumy.
    </span>
    <a href="https://levelfoods.com/products/oat-cookie?variant=29469465542765" class="btn_mini_product_2">SHOP</a>
  </div>
<!-- end product2 -->
<!-- product3 -->
  <div class="ll_mini_product3 jntophome">
  	<img src="{{'mini-product-3.png' | asset_url}}" />
    <h1 class="mini_product_title">
      Salted Brownie
    </h1>
    <span class="mini_product_description">
      Lorem ipsum dolor sit amet, consetetur sadiscing elitr, sed diam nonumy.
    </span>
    <a href="https://levelfoods.com/products/salted-brownie?variant=29469865607277" class="btn_mini_product_3">SHOP</a>
  </div>
<!-- end product3 -->
{%include 'subscripttion' %}
   <div class="ll_videoan">
  	<div class="container ">
        <div class="row_innercon">
          <h2 class="sec_title_h2" >Snack with us</h2>
          <h3 class="sec_title_h3" >allow us to introduce ourselves </h3>
          <div class="vIdeobox"> <iframe width=100%  height=400px frameborder="0" src="https://www.youtube.com/embed/NVZK0fwaJ4o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
      </div>
    </div>
  </div>   <!--   .ll_protein_bar end -->
  
  
  <div class="ll_what_need_title mini_what_need">
  	<div class="container my-4 text-uppercase">
      <div class="row text-left">
        <div class="col-md-8 offset-4">
          <p>What you need, <br> <span class="highlight-2">When you need it.</span></p>
        </div>
      </div>
    </div>
  </div>
  
  {% include 'slarnke_bf_tabs_new' %}
{%comment%}
  <div class="additional-description">
    <p>
      WE TOOK THE <span class="highlight-2">SUPERPOWERS OF ADAPTOPGENS</span> & PUT THEM ITO A BAR.
    </p>
    <p>
      EACH BAR CONTAINS ITS OWN <span class="highlight-2">POWER.</span>
    </p>
    <p>
      SO NOW, YOU CAN EAT FOR HOW<br /> <span class="highlight-2">YOU WANT TO FEEL.</span>
    </p>
  </div>
 {%endcomment%} 
  {%comment%}
  <div class="ll_review my-5">
  	<div class="container">
      <div class="row text-center text-uppercase">
        <div class="col-md-12">
          <p class="display-4">Don't Just take it from us</p>
          <p class="h2">See What our customers are saying</p>        
        </div>

      </div>
      
     
    </div>
  </div>
  {%endcomment%}
  
<!--   
<div class="container-fluid">

</div> 
-->

</div>  <!--.level_landing end -->


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
 

.ll_banana_bread {
    background: linear-gradient(1245deg, #fff0 14%,#F1F1F1 0%,#F1F1F1 85%, #51272700 50%) ;
}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}


<style type="text/css">
  .ll_banana_bread {margin-top:-130px; padding-bottom:80px ;}
   .ll_review.my-5  p.h2 {font-size:44px; margin-top:15px;}
  .ll_review.my-5 {
  margin-top:130px ;
  }
  
  .text-wrapper {
    text-align: center;
  }
  .sub_header {
  	color: #ffc91f;
    font-size: 44px;
    line-height: 42px;
    font-weight: 600;
  }
  .header_taster {
  	color: white;
    font-weight: normal;
    font-size: 45px;
    line-height: 1.1px;
  }
  .shipping_text {
  	font-size: 35px;
    line-height: 35px;
  }
  .shipping_text span {
  	color: #ffc91f;
    font-weight: 600;
  }
  .btn_order {
  	text-align: center;
  }
  .btn_order .check-me-out, .btn_order .check-me-out:hover, .btn_order .check-me-out:active {
  	background-color: #FFC91F ;
  }
  
  .display-4 {

    font-size: 60px;
    font-weight: 900;
    line-height: 45px;
    text-shadow: 0px 2px 2px rgb(33, 37, 41, 0.2);
    position:relative;
z-index: 9;
}
  .display-4:after {

    position: absolute;
    content: '';
    top: 15px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    background: #ffc107;
    width: 100%;
    height: 35px;
    z-index: -1;
    right: 0;

}
  .page-width.reviews_veriety_pack.try_c h3 {

    display: none;

}
  #shopify-section-bf_reviews {margin-top:-50px;}
  .ll_adaptogens {position:relative; z-index:999;}
  
  .ll_banana_bread {
    background: #F1F1F1 ;
    position:relative;
}
.ll_banana_bread::before {
    background: #171717 ;
    content: '';
    width: 100%;
    min-height: 300px ;
    -webkit-transform: skew(0deg,-8deg);
    transform: skew(0deg,-8deg);
    margin-top: -278px;
    position: absolute;
}
  .ll_banana_bread::after {
    background: #fff ;
    content: '';
    width: 100%;
    min-height: 300px ;
    -webkit-transform: skew(0deg,-8deg);
    transform: skew(0deg,-8deg);
    bottom: -150px;
    position: absolute;
}
  .ll_protein_bar.p-5.jntophome {margin-top:-220px;}
  
  
  
  .ll_protein_bar h1 {

    font-size: 85px;
    font-weight: bold;
    line-height: 76px;    
    text-shadow: 0px 2px 2px rgb(33, 37, 41, 0.2);

}
 .ll_banana_bread .para {

    font-size: 39px;
    padding-top: 20px;
    padding-left: 25px;
    max-width: 400px;

}
  .ll_what_need_title{

    margin-top: -122px;
    position: relative;
    padding-bottom: 70px;

}
  .col-md-8 {

   
    flex: 1;
    max-width: 100%;

}
  .offset-4 {

    margin-left: 50%;

}
  .ll_banana_bread .sub_title {

    font-size: 55px;
    margin: 0;
    text-shadow: 0px 2px 2px rgb(33, 37, 41, 0.2);

}
  .ll_what_need_title p {

    font-size: 55px;
    font-weight: 700;
    line-height: 50px;
    text-shadow: 0px 2px 2px rgb(33, 37, 41, 0.2);

}
  .ll_facts h2 {

    font-size: 60px;
    font-weight: 900;
    text-shadow: 0px 2px 2px rgb(33, 37, 41, 0.2);
    margin-bottom: 70px;
    position: relative;
display: inline-table;
}
  .ll_facts h2:after {

    position: absolute;
    content: '';
    top: 20px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    background: #ffc107;
    width: 250px;
    height: 47%;
    z-index: -1;
    right: 0;

}
  .ll_banana_bread .title {

    color: #ffc91f;
    font-size: 55px ;
    margin: 0;
    text-shadow: 1px 2px 2px rgb(33, 37, 41, 0.2);
    padding-left: 25px;

}
  .ll_banana_bread .row {

    padding: 0px 0px 60px 0;

}
  .ll_facts {z-index:99; position:relative;}
  
  .ll_adaptogens p {
    font-weight: bolder;
    padding: 15px 0px;
    font-size: 50px;
    line-height: 46px;
    text-shadow: 0px 2px 2px rgb(33, 37, 41, 0.2);
}
  .tabproductBox {
    width: calc(33.3% - 20px);
    margin: 10px 10px 10px 10px;
    padding: 0px;
    text-align:center;
}
  .tab_nutri_textbox h4 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 900;
    padding: 15px 46px;
    display:inline-table;
    max-width: 90%;

width: 65%;
}
  
  body {overflow-x:hidden ; width:100%; max-width:100%;}
  #shopify-section-timer {display:none;}
  .row.logo_row {padding-top:25px; padding-bottom:200px}
  .ll_header img.levelLogo {

    scale: none ;
    max-width:200px;
}
  .row.my-5.flexsy {align-items: self-start; margin-top:0px ; padding-bottom: 260px;}
  .col-md-6.align-middle.jnex {padding-bottom:50px;}
  .ll_header table p {
    color: #ffc91f;
    font-size: 44px;
    line-height: 42px;
    font-weight: 600;
}
  .ll_header table p{display:block;}
  .ll_header table h1 {
    color: white;
    font-weight: 800;
    font-size: 5em;
    line-height: 70px;
}
  .ll_header .btn,.ll_header .btns {

    border-radius: 0 ;
    letter-spacing: 0px ;
    padding: 2px 54px;
    font-size: 30px ;

}
  .img_position {
   transform: rotate(-18deg) translateY(-25%) translateX(-45%);
    /*transform: rotate(-29deg) translateY(-55%) translateX(-55%)*/
  }
  
  .ll_header img.prodIngo {
    transform:scale(2.2) ; 
    -webkit-transform:scale(2.2) ;   
    scale:none ;
    max-width: 80%;
  }
  .banner {
  	margin-left: -150px
  }
  
  @media only screen and (max-width: 1600px) {
  	.ll_header img.prodIngo {
      transform:scale(2) ; 
      -webkit-transform:scale(2) ;   
    }
    .img_position {
      transform: rotate(-29deg) translateY(-55%) translateX(-30%);
    }
  }
  @media only screen and (max-width: 1330px) {
    .banner {
    	margin-left: -170px
    }
  	.sub_header {
      font-size: 40px;
      line-height: 50px;
	}
    .shipping_text {
      font-size: 30px;
      line-height: 50px;
    }
    .ll_header .btn,.ll_header .btns {
      font-size: 25px ;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .banner {
    	margin-left: -170px
    }
  	.sub_header {
      font-size: 30px;
      line-height: 35px;
	}
    .shipping_text {
      font-size: 25px;
      line-height: 20px;
    }
    .img_position {
      transform: rotate(-29deg) translateY(-36%) translateX(-10%);
    }
  }
  
  @media only screen and (max-width:991px){
    .ll_protein_bar.p-5.jntophome {margin-top:-110px;}
    .banner {
      margin-left: -140px
    }
    .img_position {
      transform: rotate(-29deg) translateY(-36%) translateX(-10%);
    }
    .sub_header {
      font-size: 32px;
    }
    .shipping_text {
      font-size: 23px;
      line-height: 25px
    }
    .ll_header .btn,.ll_header .btns {
      padding: 2px 25px;
      font-size: 24px ;
    }
    .ll_header img.prodIngo {
      transform:scale(1.8) ; 
      -webkit-transform:scale(1.8) ;   
}
    .row.my-5.flexsy {
      padding-bottom: 140px;
    }
    
    .ll_protein_bar {
    	padding: 1rem ;
    }
  
   .row.logo_row { padding-bottom:150px}

.container, .container-md, .container-sm {
    max-width: 100%;
}
    .ll_header table h1 {
      color: white;
      font-weight: 800;
      font-size: 55px;
      line-height: 50px;
}
    .ll_header table p {
      color: #ffc91f;
      font-size: 30px;
      line-height: 30px;
      font-weight: 600;
}
    .ll_header .btn,.ll_header .btns {
      border-radius: 0 ;
      letter-spacing: 0px ;
      padding: 2px 20px;
      font-size: 25px ;
}
    .row.my-5.flexsy {
      align-items: inherit;
    
}
  }
@media only screen and (max-width:767px){
  .banner {
    	margin-left: -90px
    }
  .container, .container-md, .container-sm {
    max-width: 85%;
  }
  .col-md-6.align-middle.jnex   {width:50%; padding-left:0px; padding-right:0px; padding-top: 90px;}
  .col-md-6.py-4.nexJ{width:50%;}
  .ll_header table h1 {
    color: white;
    font-weight: 800;
    font-size: 38px;
    line-height: 34px;
  }
  .sub_header {
    font-size: 20px;
    line-height: 25px;
  }
  .shipping_text {
    font-size: 16px;
    line-height: 20px;
  }
  .row.my-5.flexsy {
    padding-bottom: 30px;
  }
  .ll_protein_bar.p-5.jntophome {
    margin-top: -50px;
  }
  .ll_header table p {
    color: #ffc91f;
    font-size: 21px;
    line-height: 22px;
    font-weight: 600;
  }
  .ll_header .btn,.ll_header .btns {
    border-radius: 0 ;
    letter-spacing: 0px ;
    padding: 2px 12px;
    font-size: 20px ;
  }
  .row.logo_row {
    padding-bottom: 50px;
  }
  .ll_header img.prodIngo {

    transform:scale(2.1) ; 
    -webkit-transform:scale(2.1) ;   
    padding-top: 100px;
  }
  
  .img_position {
      transform: rotate(-29deg) translateY(-59%) translateX(-9%);
    }
}
  
  @media only screen and (max-width: 667px) {
  	.ll_header img.prodIngo {
      transform:scale(2.1) ; 
      -webkit-transform:scale(2.1) ;   
      padding-top: 100px;
    }
    .banner {
      margin-left: -70px;
    }
    
    .img_position {
      transform: rotate(-29deg) translateY(-63%) translateX(-13%);
    }
    .sub_header {
      font-size: 18px;
      line-height: 25px
    }
    .shipping_text {
      font-size: 13px;
      line-height: 10px;
    }
    
  }
@media only screen and (max-width: 500px) {
  .banner {
    	margin-left: -15px
    }
    .sub_header {
      font-size: 15px;
      line-height: 20px;
    }
    .shipping_text {
      font-size: 15px;
      line-height: 10px;
    }
  .ll_protein_bar.p-5.jntophome {
    margin-top: -90px;
  }
    a.check-me-out {
      height: 50px;
      width: 130px;
      line-height: 16px;
      padding: 15px ;
    }
}
@media only screen and (max-width:480px){
  .container, .container-md, .container-sm {
    max-width: calc(100% - 20px);
  }
  .col-md-6.align-middle.jnex {
    width:50%;
    padding-left:0px;
    padding-right:0px;
    padding-top: 90px;
  }
  .col-md-6.py-4.nexJ{
    width:50%;
  }
  .ll_header table h1 {
    color: white;
    font-weight: 800;
    font-size: 32px;
    line-height: 30px;
    margin-bottom:4px;
   }
  .ll_header table p {
    color: #ffc91f;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
   }
    .ll_header .btn,.ll_header .btns {
      border-radius: 0 ;
      letter-spacing: 0px ;
      padding: 2px 11px;
      font-size: 15px ;
    }
    .row.logo_row {
      padding-bottom: 0px;
    }
  .ll_header img.prodIngo {

    transform:scale(0.6) ; 
    -webkit-transform:scale(2.5) ;   
    padding-top: 120px;
}
  
  .sub_header {
    line-height: 25px;
  }
  
    .ll_header img.levelLogo {
    scale: none ;
/*     max-width: 130px; */
      margin-top: 30px;
}
    .row.logo_row {
  	padding-bottom:30px;
    padding-top: 5px;
}
}
  
  @media only screen and (max-width:1199px){
  .ll_protein_bar h1 {
    font-size: 77px;    
    line-height: 69px;
   
}
  
  }
  @media only screen and (max-width:999px){
  .ll_protein_bar h1 {
    font-size:48px;
line-height: 46px;
   
}

   .container.gnathdnehodn {

    background-size: auto 80% ;
    background-position: left 0px center ;
    max-width: 90%;

}
  .ll_adaptogens p {

    
    font-size: 35px;
    line-height: 35px;  

}
    .ll_banana_bread .para {

    font-size: 28px;
   

}
    .ll_banana_bread .sub_title {
    font-size: 40px;   

}
    .ll_banana_bread .title {

   
    font-size: 45px ;   
    line-height: 42px;

}
    .offset-4 {

    margin-left: 0%;

}
    .ll_what_need_title {
   
    padding-bottom: 20px;

}
    .display-4 {

    font-size: 36px;    
    line-height: 42px;   

}
    .ll_review.my-5  p.h2 {font-size:25px;}
  }
  
   @media only screen and (max-width:770px){
     
     .ll_protein_bar h1 {

    font-size: 40px;
    line-height: 40px;

}
     .col-md-9.offset-md-3.gtsTextpart {
     
     width:70%;
       margin-left:30%;
       max-width:70%;
     }
     .col-md-5.onres_procat {
     width:50%;
       padding:0px;
       
     }
     .col-md-7.align-self-center.onres_procats{
     width:50%;
       padding:0px;
       
     }
     .ll_banana_bread .title {

    font-size: 36px ;
    line-height: 36px;

}
     .ll_banana_bread .sub_title {

    font-size: 34px;

}
     .ll_banana_bread .para {

    font-size: 22px;

}
     element {

    color: #fff;
    background: #47413c;

}
.tab_nutri_textbox h4 {
 font-size: 14px;
    padding: 8px 15px;
    

}     
}
@media only screen and (max-width: 550px){
      .ll_protein_bar.p-5.jntophome {
    margin-top: -35px;
    padding: 0px ;
}
  .sub_header {
    font-size: 16px;
    line-height: 25px;
  }
  .shipping_text {
    font-size: 12px;
    line-height: 10px;
  }
  
  .ll_protein_bar.p-5.jntophome .container {max-width:88%;}
  .ll_protein_bar h1 {

    font-size: 31px;
    line-height: 31px;

}
  .pb-5, .py-5 {

    padding-bottom: 1.2rem ;

}
  .ll_protein_bar img {
    height: 50px;
  }

  .ll_protein_bar.p-5.jntophome .col {
    padding-right: 5px ;
    padding-left: 5px ;
  }

  .col-md-12.ngnopadd {padding:0px ;}
  .container.gnathdnehodn {
    background-size: auto 80% ;
    background-position: left 0px center ;
    max-width: 94%;
    padding: 40px 0px ;
  }

  .col-md-9.offset-md-3.gtsTextpart {
    width: 64%;
    margin-left: 36%;
    max-width: 64%;
  }
  .ll_adaptogens p {

    font-size: 22px;
    line-height: 24px;
    margin-bottom: 0px ;

}
  .container.banna_linet{margin-top:-100px;}
  .col-md-5.onres_procat {
    width: 40%;
    padding: 0px;
  }
  .col-md-7.align-self-center.onres_procats {
    width: 60%;
    padding: 0px;
  }
  .ll_banana_bread .para {
    font-size: 20px;
    padding-top: 12px;
  }
  .ll_banana_bread .sub_title {
    font-size: 28px;
  }
  .ll_banana_bread .title {
    font-size: 30px ;
    line-height: 30px;
  }
  .ll_banana_bread::after {
    bottom: -191px;
  }
  .ll_what_need_title {
    margin-top: -70px;
  }
  
  .ll_what_need_title p {
    font-size: 30px;  
    line-height: 30px;
  }
  .ll_what_need_title .col-md-8 {
    flex: 1;
    max-width: 100%;
    margin-left: 0% ;
    text-align:center;
  }
  .ll_review.my-5 {
    margin-top: 60px ;
  }
  .display-4 {
    font-size: 24px;
    line-height: 30px;
  }
  .display-4::after {
    top: 13px;    
    height: 21px;
  }
  .ll_review.my-5 p.h2 {
    font-size: 19px;
    margin-top: 3px;
  }
}
  #shopify-section-level-landing-new {
    overflow:hidden ;
  }

  #shopify-section-level-landing-new  a.check-me-out {
    z-index: 10001;
    cursor: pointer;
  }

  @media only screen and (max-width:550px){
    a.check-me-out {
      height: 40px;
      width: 150px;
      line-height: 16px;
      padding: 12px ;
      font-size: 19px
    }
  }

  .ll_banana_bread img {
    scale:none ;
}
  .ll_videoan {background:#171717; position:relative; z-index:999; margin-top: 100px;}
  .ll_videoan:before {
    background: #171717 ;
    content: '';
    width: 100%;
    min-height: 300px ;
    -webkit-transform: skew(0deg,-8deg);
    transform: skew(0deg,-8deg);
    margin-top: -145px;
    position: absolute;
    z-index: -1;
}
  .sec_title_h2 {

    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 55px;
    font-weight: 900;
    text-shadow: 0px 2px 2px rgb(0, 0, 0, 1);

}
  .sec_title_h3 {

    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
    text-shadow: 0px 2px 2px rgb(0, 0, 0, 1);

}
  .vIdeobox {
  	display:block;
    padding:40px;
    max-width:700px;
    margin-left:auto;
    margin-right:auto;
  }
  .container.text-uppercase.pt-5 {
    padding-top: 130px ;
  }
  
  .vIdeobox iframe {
    height: 308px;
  }
  @media only screen and (max-width:550px){
    .vIdeobox iframe {
    height: 270px;
}
    .container.text-uppercase.pt-5 {padding-top: 90px ;}
  .sec_title_h2 {
    font-size: 36px;
}
    .sec_title_h3 {

    
    font-size: 24px;
    
}
    .ll_header .btn,.ll_header .btns {
    	font-size: 19px ;
    }
 
    .ll_videoan::before {
   
    margin-top: -90px;
   
}
    .ll_banana_bread::before {
    
    margin-top: -370px;
}
    .vIdeobox {
   
    padding: 40px 0px;
  
}
  }
@media only screen and (max-width: 440px) {
	.sub_header {
    font-size: 12px;
    line-height: 0px;
    }
  .shipping_text {
    font-size: 9px;
    line-height: 10px;
  }
  .ll_header .btn,.ll_header .btns {
    height: 40px;
    width: 125px;
    font-size: 16px ;
  }
}
  .bg-transparent .btn:hover {background:#ffc107 ; color:#212529;}
  
  
  @media only screen and (max-width:440px){
    .row.my-5.flexsy {   
    flex-wrap: nowrap;

}
    .col-6.jnex.banner {
    
    flex: 0 0 60%;
margin-left: -10%;
max-width: 60%;
    }
    
.img_position {
     transform: rotate(-25deg) translateY(-63%) translateX(-8%);
    }
  .banner {

    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 45px;

}
 .sub_header {

    font-size: 18px;
    line-height: 22px;
   padding-bottom: 10px ;
    margin-bottom: 0px;
}
.header_taster {
    padding-top: 5px;
}
.shipping_text {

    font-size: 13px;
    line-height: 15px;
  margin-bottom: 10px ;

}
    .ll_header .btn,.ll_header .btns {

    height: auto;
    width: 125px;
    font-size: 16px ;
    line-height: 150%;
    padding: 2px ;

}
.jntophome .col {

    -ms-flex-preferred-size: 0;
    flex-basis: unset;
    -ms-flex-positive: 1;
    flex-grow: inherit;
    max-width: 100%;
    width: 20% ;

}
.ll_protein_bar p {   
    font-size: 13px;
}
.ll_protein_bar p span{   
    display:block;
}
.ll_protein_bar.p-5.jntophome .col {
    padding-right: 0px ;
    padding-left: 0px ;
}
}
@media only screen and (max-width:380px){
  .col-6.jnex.banner {
    
    padding-left: 15px;
}
}
  .btn_flovor {
    padding: 14px;
    font-size: 20px;
    color: #212529;
    text-decoration: none ;
    background: #FFC91F;
    width: 100%;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
  .btn_flovor:hover {
   color: #212529;
  }
  .btn_flovor.fl_oat {
  background: #e4c7a7 ;
  }
   .btn_flovor.fl_salted {
  background: #403532 ;
     color: #fff;
  }
  .btn_flovor.fl_salted:hover {
  background: #403532 ;
     color: #fff;
  }
  @media only screen and (max-width:440px){
  .btn_flovor {
    padding: 10px;
    font-size: 16px;   
    width: 90%;
   
}
  }
 a.btn.buTTon {

    padding: 14px 45px;
    font-size: 20px ;
    color: #212529;
    text-decoration: none ;
    background: #FFC91F ;
    display: inline-table;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-weight: 700 ;
    text-shadow: none ;

}
@media only screen and (max-width:440px){
   a.btn.buTTon {

    padding: 10px 45px;
    font-size: 16px ;
   

}    
}
  .ll_header .btns {
  
padding: 7px 54px;
color: #212529 ;
text-decoration: none ;
}
  .header_taster.new_set_removable {   
   
    font-size: 5em;
    line-height: 72px;
    padding-bottom:15px;
}
  .header_taster.new_set_removable span {display:block;}
  @media only screen and (max-width:991px){
  .header_taster.new_set_removable {
    font-size: 3.8em;
    line-height: 93px;
}
  }
   @media only screen and (max-width:991px){
  .header_taster.new_set_removable {
    font-size: 2.6em;
    line-height: 40px;
    padding-bottom:5px;
}
  }
   @media only screen and (max-width:550px){
  .header_taster.new_set_removable {
    font-size: 1.6em;
    line-height: 27px;
    padding-bottom:5px;
}
  }
    @media only screen and (max-width:440px){
  .header_taster.new_set_removable {
    font-size: 1.8em;
    line-height: 28px;
}
  }
</style>

