

{%- if section.setting.try_display != false -%}
  <div class="page-width page-content try_steps">
    {%comment%}
    <div class="try_step_secT ">
      <h2 class="try_secTitlesg"> How it works</h2>
      <div class="inser_setpSec">
   			<div class="box_stIcon">
              <h5 class="iConSec"> We'll send you full sized bars of our three flavors. </h5>
        	</div>
        <div class="box_stIcon secRight">
               <h5 class="iConSec"> You try them! </h5>
        	</div>
      </div>
      <div class="arrow_area"><img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/arrow-black_750x.png"></div>
       <div class="inser_setpSec spectint">
   			
              <h5 class="iConSec"> Five days after delivery, we'll text you about your first 12-bar box. </h5>
        
      </div>
      <div class="area_noteSec"> <h4 class="hfourDn"> The default flavor is our best seller, Oat Cookie. But, you can</br>
easily change the flavor or cancel.  </h4></div>
	</div>
{%endcomment%}
   
       
    
    <div class="try_setp_titlearea">
      
      <h2 class="sec_title_lf" style="margin-top:20px">YOUR NEW FAVORITE SNACK</h2>
      <h3 class="" style="text-align:center; font-weight:700">HERE'S HOW THIS WORKS</h3>
      
      </div>

<div class="try_setp_textarea full_trys whyti">
  <div class="hit_work_inner">
    <div class="hit_icon ">
      <img class="icon_hitim" src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/step-1-icon01_450x.jpg?v=1576636686">
    </div>
    <div class="hit_text">
      <div class="hit_titlesec">
        <div class="etitle"> <h3> TODAY <span>STARTER PACK</span></h3></div>
        <div class="eprice"> <h4> <del>$10</del> <span class="tcprice">FREE!</span> <span class="jpayon">Just pay $3 shipping </span></h4></div>
      </div>
      
      <!-- plus icon in img tag ------->
      <div class="hit_productlist">
        <div class="hitProdim"> <img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/banana_350x.png?v=1576632086"></div>
        <div class="hitPtitle"> <p> Banana Bread (1 Bar)</p></div>
      </div>
      <div class="hit_productlist">
        <div class="hitProdim"> <img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/oat_350x.png?v=1576632059"></div>
        <div class="hitPtitle"> <p> Oat Cookie (1 Bar)</p></div>
      </div>
      <div class="hit_productlist">
        <div class="hitProdim"> <img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/Level_Wrapper_Mockups_2019_09_08_Salted_540x_1_350x.png?v=1579873225"></div>
        <div class="hitPtitle"> <p> Salted Brownie (1 Bar)</p></div>
      </div>
      
      <!---end code of plus icon--->
    </div>
  </div>
  <!--div class="hit_work_inner allinoff">
    <div class="hit_icon ">
      <img class="icon_hitim" src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/step-2-icon_450x.jpg?v=1576634346">
    </div>
   <div class="hit_text gpart2">
      <div class="hit_titlesec gpart2">
        <div class="etitle nogttext allnew"> <h3> 11 DAYS LATER  <span>WE SEND YOU A REMINDER  </span></h3>
        <p class="gpar2"> The first box's default flavor is our best seller (Oat Cookie), but you can manage your account anytime before your first order is processed. </p>
        </div>
        <div class="eprice nogttext"> </div>
      </div>
      <div class="hit_productlist">
        <div class="hitProdim gparc2"> <img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/add-or-swap_1.png?v=1584456439"></div>
        <div class="hitPtitle"> <p> ADD OR SWAP FLAVORS <span class="gbold"> ANYTIME </span></p></div>
      </div>
      <div class="hit_productlist">
        <div class="hitProdim gparc2"> <img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/pick-beween-2-or-4-week-frequency.png?v=1584457105"></div>
        <div class="hitPtitle"> <p> PICK BETWEEN 2 OR 4 WEEK  <span class="gbold"> FRQUENCY </span></p></div>
      </div>
      <div class="hit_productlist">
        <div class="hitProdim gparc2"> <img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/cancel-or-skip.png?v=1584457155"></div>
        <div class="hitPtitle"> <p> CANCEL OR SKIP A SHIPMENT  <span class="gbold"> ANYTIME </span></p></div>
      </div>
    </div>
  </div-->
  <div class="hit_work_inner">
    <div class="hit_icon gntlast">
      <img class="icon_hitim" src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/step-2-icon_450x.jpg?v=1576634346">
    </div>
    <div class="hit_text gpart2">
      <div class="hit_titlesec gpart2">
        <div class="etitle nogttext"> <h3> 2 WEEKS AFTER YOUR STARTER PACK ORDER  <span>YOUR 12-BAR BOX  </span></h3>
       <p class="gpar2"> The default is a box of our best seller (Banana Bread), but you can swap flavors, skip the shipment, or cancel altogether before this order! (And yes, your 12-Bar box can be multiple flavors too!)</p>
        </div>
        <div class="eprice nogttext"> </div>
      </div>
      <div class="hit_productlist">
        <div class="hitProdim gparc2"> <img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/best-value-offer.jpg?v=1585433739"></div>
        <div class="hitPtitle"> <p> OUR BEST VALUE OFFER <span class="gbold"> $2.66/BAR </span></p></div>
      </div>
      <div class="hit_productlist">
        <div class="hitProdim gparc2"> <img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/vip2.png?v=1585330921"></div>
        <div class="hitPtitle"> <p> GET EXCLUSIVE ACCESS TO   <span class="gbold"> NEW FLAVORS  </span></p></div>
      </div>

    </div>
    
  </div>
  <div class="bfe">
     <div class="butonConc">  <a class="hero_button_add btn  try-btn-ds buton_litbig" style="" href="#">TRY NOW</a></div>
    <!--coupon code----->
  <div class="animation-contents couponcode">
                                ENTER PROMO CODE <strong>"TENOFF"</strong> AT CHECKOUT. <!--span style="font-size:16px;">Try all flavors before you receive our best value box! <u class="clicktoact">Click here to learn more</u></span-->
<!--                                 Try all our flavors before you receive our best value box! <u class="clicktoact">Click here to learn more</u> -->
                              </div>
    <!--end---code--->
    </div>
</div>
     

    {%comment%}
   <div class="try_setp_textarea full_trys">
    
          {%- for block in section.blocks -%}
             
              {% case block.type %}
                {% when 'image'%}
    
      <div class="sec_hw_imgarea">     
       {% if block.settings.image != blank %}
     <img class="image-how  try--how{{ block.id }}"
                        src="{{ block.settings.image | img_url: '450x' }}"
                        alt="{{ block.settings.image.alt | escape }}">
      {% else %}
                    <svg class="placeholder-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1052 400" style="background-color: #000;"></svg>
       {% endif %}
        <div class="image_btitles" style="color:{{ block.settings.text_color }}; text-align:{{ block.settings.align_text }};"> {{ block.settings.text }}</div>
     </div>
              {% endcase %}
            
          {%- endfor -%}
    
      
</div>
     
  
   

    
  {%endcomment%} 
   
  </div>
 
{%- endif -%}

{% schema %}
 {
    "name": "Steps",
    "class": "try-steps",
    "max_blocks": 10,
    "settings": [
      
     {
            "type": "checkbox",
            "id": "try_display",
            "label": "Display Section",
            "default":true
          }, 
{
        "type": "text",
        "id": "title",
        "label": "Section Title",
"default": "Steps"

        
      },
{
            "type": "color",
            "id": "section_background",
            "label": "Section Background",
             "default": "#fff"
          }
      
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image With Text",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },{
            "type": "textarea",
            "id": "text",
            "label": "Text",
            "default": "Rich text"
          },
        
{
            "type": "color",
            "id": "title_color",
            "label": "Text Color",
"default": "#000"
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Text alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Centered"
              }
            ]
          }
          
         
        ]
      },{
        "type": "text",
        "name": "No Text",
        "settings": [
         {
            "type": "textarea",
            "id": "text",
            "label": "Text",
            "default": "Rich text"
          },
        
{
            "type": "color",
            "id": "text_color",
            "label": "Text Color",
"default": "#000"
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Text alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Centered"
              }
            ]
          }
          
         
        ]
      }
    ]
   
  }





{% endschema %}

<style type="text/css">
  
  .butonConc {width:100%; padding:10px; text-align:center;}
  .hero_button_add.buton_litbig{ padding:15px 65px;}
  .hit_work_inner{
  width:100%;
  position:relative;
  margin:0px;
  padding:0px;
  display:flex;
  }
  .hit_icon{width:200px; position:relative; text-align:center;}
  .hit_text {width:calc(100% - 200px); position:relative;  box-sizing:border-box;
    padding: 75px 20px 10px 40px;}
  
  .try_setp_textarea.full_trys.whyti {padding:20px 100px 50px 100px;}
  .hit_icon::after {

    position: absolute;
    height: 100%;
    width: 1px;
    background:#000;
    content: '';
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 185px;

}
  .hit_icon.gntlast:after{display:none;}
  
  .hit_titlesec {
    width:100%;
   display:flex;
    position:relative;
    margin:0px;
    padding:0px 0px 50px 0px;
  }
  .etitle {width:calc(100% - 150px);}
  .eprice {width:150px;}
  .hit_titlesec h3 {
  	font-size:25px;
    color:#898989;
    font-weight:900;
    margin:0px;
    line-height:110%;
  }
  .hit_titlesec h3 span {display:block; color:#000;}
  .hit_titlesec h4 {font-size:25px;  font-weight:900; margin:0px;
    line-height:110%; padding-top: 5px;}
  
  .hit_titlesec h4 .tcprice {color:#E00808;}
  
  .hit_titlesec h4 .jpayon {display:block; font-weight:400; font-size:16px;}
  
  .hit_productlist {
    width:100%;
   display:flex;
    position:relative;
    margin:0px 0px 0px 0px;
    padding:0px;
    align-items: center;
justify-content: center;
  }
  
  .hitProdim {width:80px; } 
  .hitPtitle {width:calc(100% - 80px);}
  
  .hit_titlesec h5 {font-weight:400;}
  
  
  
  .try_step_secT {
  width:850px;
    margin:0px auto;
    padding:0px;
  }
  .inser_setpSec{
  width:100%;
  margin:0px;
    padding:0px;
    position:relative;
    display:flex;
    border:2px solid #000;
     
  }
  .box_stIcon{
  width:50%;
  margin:0px;
    padding:15px 20px;
   
  }
  .box_stIcon.secRight{
  border-left:2px solid #000;
  }
  .iConSec:before {
  content: '\2713';
position: absolute;
left: 0;
padding: 3px 7px;
border-radius: 50%;
background:#e00808;
color:#fff;
font-size: 12px;

    
  }
  .iConSec{
  color:#000;
   padding-left:34px;
  }
  .arrow_area{
  width:100%;
  position:relative;
  display:block;
  margin:0px;
  text-align:center;
  }
  .arrow_area img {
  
    max-width:160px;
  }
  .inser_setpSec.spectint {
  
  padding:24px 40px;
  
  }
  .area_noteSec
  {
  width:100%;
  position:relative;
  display:block;
  margin:0px;
  text-align:center;
  }
  .area_noteSec h4{
  padding: 21px 10px 10px 10px;
font-weight: 700;
  }
  .try_secTitlesg{
  
  text-align:center;
    padding-bottom: 30px;
    text-transform: uppercase;
  }
  .hit_titlesec.gpart2 {
  padding-bottom:10px;
  }
  .hit_text.gpart2 {padding-top:65px;}
  .gpar2 {padding-top:10px;}
  .gbold {display:block; font-weight:900;}
  .hitProdim.gparc2 img {padding:15px;}
  
  @media only screen and (max-width:1024px) {
    .try_setp_textarea.full_trys.whyti {padding:25px 10px;}
  }
  @media only screen and (max-width:800px) {
   .hit_icon{width:100px; }
  .hit_text {width:calc(100% - 100px);}  
  
  .hit_icon::after {
  
    top: 85px;

}
    .hit_text {   
    padding: 28px 20px 10px 20px;
}
    .hit_titlesec {  
    padding: 0px 0px 30px 0px;
}
    .hit_text.gpart2 {
    padding-top: 25px;
}
    .hit_titlesec h3 {
    font-size: 20px;   
    line-height: 120%;
}
    .hit_titlesec h4 {
    font-size: 20px;   
}
    .eprice.nogttext {display:none;}
    .etitle.nogttext {width:100%;}
  }
  @media only screen and (max-width:520px) {
    .try_setp_textarea.full_trys.whyti {
    padding:25px 0px 40px 0px;
}
    .sec_title_lf {font-size:24px;}
     .hit_icon{width:65px; }
  .hit_text {width:calc(100% - 65px);}  
  
  .hit_icon::after {
  
    top: 45px;

}
    .hit_text {
   padding: 16px 0px 10px 15px;
}
    .hit_text.gpart2 {
    padding-top: 10px;
}
    .hit_titlesec h3 {
    font-size: 13px;
    line-height: 140%;
}
    .hit_titlesec h4 {
    font-size: 15px;
      padding-top: 0px;
}
    .hit_titlesec {

    padding: 0px 0px 15px 0px;

}
    .hitPtitle p {font-size:14px;}
    .hitProdim {width:65px;}
    .hitPtitle {

    width: calc(100% - 65px);    

}
     .eprice {text-align:right;}
    .hit_titlesec h4 .jpayon {   
    font-size: 13px;
    padding-top: 4px;
}
    
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .sec_title_lf {
    text-align:center; padding:10px;
text-transform: uppercase;

  }
  .try_setp_titlearea{
  
  width:100%;
  
  }
  .try_setp_textarea{
  width:100%;
   margin:0px 0px 0px 0px;
    border-left: 2px solid #eee;
    padding: 10px 15px;
  }
 
  .try_landing_sec.sec_setp{
  align-items: center;
  justify-content: center;
    flex-flow: wrap;
  }
  
  #shopify-section-bf_steps{background:{{ section.settings.section_background }}; padding-bottom:30px; padding-top:20px; margin-top:0px;}
  @media only screen and (max-width:642px){
  
  .try_setp_titlearea{
  
  width:100%;
  
  }
  .try_setp_textarea{
  width:100%;
   margin:0px ;
    border-left: 0px solid #eee;
   
  }
    .sec_title_lf {
    text-align:center; 
  }
  }
  .try_setp_textarea.full_trys {
  width:100%;
    margin:0px;
    border:none;
    display:flex;
    flex-flow: wrap;
  }
   .sec_hw_imgarea{
  width:31.33%;
    margin:10px 1%;
    
     text-align:center;
     padding: 15px;
  }
  .sec_hw_imgarea img {max-width:70%;}
  @media only screen and (max-width:500px){
  .sec_hw_imgarea{
  width:100%;
    margin:10px 0px;

  }
  
  }
   @media only screen and (max-width:415px){
     .sec_hw_imgarea img {
    max-width: 50%;
}
   }
  .sec_title_lf{font-weight:900;}
</style>
