{% comment %}ECPWS{% endcomment %}{% capture ec-pw-ify %}


<div class="bestdeal">
  
<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
  <div class="grid mainmenu">
          <div class="site-header__logo" itemscope="" itemtype="http://schema.org/Organization">
            <a href="/" itemprop="url" class="site-header__logo-link logo--has-inverted">
              <img class="" src="//cdn.shopify.com/s/files/1/0248/8084/0813/files/level_dark_logo_140x.png?v=1564863418" srcset="//cdn.shopify.com/s/files/1/0248/8084/0813/files/level_dark_logo_140x.png?v=1564863418 1x, //cdn.shopify.com/s/files/1/0248/8084/0813/files/level_dark_logo_140x@2x.png?v=1564863418 2x" alt="LEVEL">
            </a>

      		</div>
<!--       <div class="grid__item small--one-fifth mobile-drawer">
        <button type="button" class="site-nav__link site-nav__link--icon js-drawer-open-nav" aria-controls="NavDrawer" aria-expanded="false">
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-hamburger" viewBox="0 0 64 64"><path d="M7 15h51M7 32h43M7 49h51"></path></svg>
          <span class="icon__fallback-text">Site navigation</span>
        </button>
      </div> -->
      <div class="grid__item mobile-logo">
         
  
<style data-shopify="">
    .header-item--logo,
    .header-layout--left-center .header-item--logo,
    .header-layout--left-center .header-item--icons {
      -webkit-box-flex: 0 1 140px;
      -ms-flex: 0 1 140px;
      flex: 0 1 140px;
    }

    @media only screen and (min-width: 769px) {
      .header-item--logo,
      .header-layout--left-center .header-item--logo,
      .header-layout--left-center .header-item--icons {
        -webkit-box-flex: 0 0 200px;
        -ms-flex: 0 0 200px;
        flex: 0 0 200px;
      }
    }

    .site-header__logo a {
      width: 140px;
    }
    .is-light .site-header__logo .logo--inverted {
      width: 140px;
    }
    @media only screen and (min-width: 769px) {
      .site-header__logo a {
        width: 200px;
      }

      .is-light .site-header__logo .logo--inverted {
        width: 200px;
      }
    }
  
  
  /* Deals Page mobile view */


body div:nth-last-child(4) {
  display: none;
}
  
@media (min-width:375px) and (max-width:767px) {
  
  ul.reg-switch.tabs h4 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
  }
  
  ul.reg-switch.tabs h6 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    margin-bottom: 25px;
  }
  
  .deals_bab_v2 .deals_outer .grid.deals_bab_bab p {
    width: 71%  !important;
    margin: 0px auto !important;
    text-align: center;
}
  .deals_bab_v2 .grid.deals_bab_bab {
  	background:transparent !important;
  }
 .cart-container {
    width: 100%;
    padding: 0 21px;
    margin-top: 27px !important;
}
  
/* .deals_container .deals_outer:first-child {
    background: linear-gradient(0deg, #F6F2EF 90%, #fff 16%) !important;
} */
  
.deals_bab_v2 .deals_container .deals_outer:nth-child(1) .grid.deals_bab_bab {
   
    margin-top: 0  !important;
    background: #F6F2EF !important;
    border-radius: 10px;
}
  
.deals_bab_v2.final_offer .deals_outer:nth-child(2) .grid.deals_bab_bab {
    margin-top: 0 !important;
    background: #F6F2EF !important;
    border-radius: 10px;
    padding-top: 20px;
}
  
  
.deals_bab_v2 .deals_outer:nth-child(2) .grid.deals_bab_bab {
    margin-top: 0 !important;
    background: #F6F2EF !important;
  	border-radius: 10px;
  	padding-top: 40px;
}  
  
.deals_bab_v2 .deals_outer:nth-child(3) .grid.deals_bab_bab {
    margin-top: 0px !important;
  	border-radius: 10px;
    background: #F6F2EF !important;
  	padding-top: 40px;
}
  
  
  
.deals_bab_v2 .deals_outer:nth-child(2) .grid.deals_bab_bab h3{
           margin: -20px auto 0 !important;
    display: block !important;
    text-align: center;
} 
  
.deals_bab_v2 .deals_outer:nth-child(2) .grid.deals_bab_bab p{
    margin: 5px auto 0px auto !important;
  
}
  
  
 .deals_bab_v2 .deals_outer:nth-child(1) .grid.deals_bab_bab h3{
        margin: 0px auto 10px !important;
    display: block  !important;
 
} 
  
.deals_bab_v2 .deals_outer:nth-child(1) .grid.deals_bab_bab p{
    margin: 0px auto 0px auto !important;

}
  
  
.deals_bab_v2 .deals_outer:nth-child(3) .grid.deals_bab_bab h3{
        margin: -50px auto !important;
    display: block  !important;
} 
  
.deals_bab_v2 .deals_outer:nth-child(3) .grid.deals_bab_bab p{
    margin: 55px auto 0px auto !important;
}
  

  
  
/* Product section */
  
  .bestdeal h1 {
    font-size: 42.67px !important;
    margin: 40px auto 0;
    width: 90% !important;
    text-align: center;
    line-height: 1;
    text-shadow: none !important;
}
.bestdeal h2, .bestdeal .h2 {
    font-size: 21.33px !important;
    line-height: 24px !important;
    text-align: center;
    text-shadow: none !important;
}
  
  .deals_product_desc p {
    font-size: 20px;
    line-height: 27px;
    color: #020202;
    text-shadow:none !important;
}
  
  
.bestdeal a {
    display: block;
    max-width: 136px !important;
    letter-spacing: 0 !important;
    margin: 10px auto;!important;
    border-radius: 6.6px !important;
/*     font-size: 18px !important; */
    line-height: 28px !important;
    padding: 22px 8px 18px 8px !important;
}
  
  
  
  
  
 

.deals_product_desc {
    position: relative;
}
  
.deals_product_desc .oath {
    position: absolute;
    width: 185px;
    left: -94px;
    top: -86px;
}
.deals_product_desc .brownie {
    position: absolute;
    right: -15px;
    top: -80px;
    width: 164px;
}
  
  
/*  Final Offer  */
  
.deals_bab_v2.final_offer {
  margin-top:45px;
    background: linear-gradient(0deg, #F6F2EF 90%, #fff 10%) !important;
  padding:0px !important;
      margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
  overflow: visible;
  padding-bottom: 5px !important;
  border-radius: 10px;
}
  
img.oath.final_offer {
    position: absolute;
    width: 160px;
    left: -80px;
    top: -60px;
}
  
  
.deals_bab_v2.final_offer .deals_outer:nth-child(1) .grid.deals_bab_bab h3 {
    margin: 15px auto !important;
    display: block !important;
}
  
.deals_bab_v2.final_offer .deals_outer:nth-child(1) .grid.deals_bab_bab p {
    margin: -10px auto 0px auto !important;

}
  
  
.deals_bab_v2.final_offer .deals_outer:nth-child(1) .grid.deals_bab_bab {
    background-color: transparent !important;
}
  
  
/*  Nutrition classes  */
  ul.tabs {
    display: flex !important;
    margin: 0px !important;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
}

  div.tab_contentBox {
    display: none;
}
    #bf1 ul.tabs li:nth-child(1), #bf1 ul.tabs li:nth-child(4){
  
    display: block !important;
    width: 35% !important;
    margin: 15px auto;

    
  }
  
  #bf1 ul.tabs li:nth-child(2), #bf1 ul.tabs li:nth-child(5){
  
    display: block !important;
    width: 65% !important;
    margin: 15px auto;

    
  }
 
p.p.reg-switch{
  display:block !important;
  width:136px !important;
    letter-spacing: 0 !important;
    border-radius: 6.6px !important;
    font-size: 18px !important;
    line-height: 28px !important;
    padding: 22px 8px 18px 8px !important;
    font-weight:400;
    
  }
  
p.active {
    background-color: #020202 !important;
}
  
/*   
#bf1 p.tab13 {
    background: #000 !important;
    animation: fade-in 1.3s ease 1s forwards;
}
   
  
#bf1 p.tab14 {
    background: #000 !important;
    animation: fade-in 1.3s ease 1s forwards;
} */
  
#bf1 ul.tabs li img {
    width: auto;
    margin: 0 auto;
    display: flex;
}
  
  
#bf1 .ot4 {
    padding: 0 !important;
    margin-bottom: 17px !important;
}
  

h1.site-header__logo {
    background: #000;
  margin:0px !important;
  width:100% !important;
}  
  
.grid.mainmenu {
    display: block;
    height: 67px !important;
}
  
h1.site-header__logo {
    background: transparent !important;
}

  
.deals_bab_v2 > h2 {
    font-weight: 900;
    font-size: 42.66px !important;
    text-align: center;
    line-height: 52.66px !important;
    width: 100%;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: 0;
    text-shadow: none !important;
    margin-top: 0px !important;
}
  
  .deals_bab_v2 > p {
      font-size: 20px  !important;
      line-height: 27px  !important;
      color: #020202  !important;
    text-shadow:none!important;
  }  
  
  
  
 p.centered_mobile {
    padding: 0px !important;
}
  
p.reg-switch {
    border-radius: 10px !important;
    width: 100% !important;
    display: block !important;
    padding: 10px !important;
}

.bestdeal > div {
    padding-left: 15px;
    padding-right: 15px;
}
.deals_shipping_v2 {
    padding-top: 0 ;
    padding-bottom: 0px !important;
    position: relative;
    background: #fff !important;
}
 .deals_shipping_v2 .grid {
    max-width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 147px;
    vertical-align: middle;
}

.deals_shipping_v2 .grid img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin: 0px auto!important;
    display: block;
}
  
  .deals_shipping_v2 h6 {
    letter-spacing: normal;
    text-align: center;
    font-size: 24px;
    line-height: 1;
    font-family: proxima-nova-condensed, sans-serif !important;
    text-transform: none;
    font-weight: 700;
    margin-top: 15px;
}
     
  
  .deals_bab_v2 {
    padding-top: 0;
    padding-bottom: 0px !important; 
  }
  
.deals_testimonials .deals_container h2 {
  
      font-size: 42.67px !important;
  	  line-height: 52.67px !important;
      text-shadow: none !important;
}
  
.deals_footer {
    background: #000;
    color: #fff;
    padding: 15px;
    margin-bottom: 0px !important;
    text-align: center;
  
  
}
  
.deals_bab_v2 h2 {
    margin-bottom: 0px !important;
}  
  
  
.deals_bab_v2.final_offer_desktop {
    display: none !important;
}
  
  .deals_bab_v2 > h2 {
  
    text-shadow:none !important;
  }
  
  
  
}

/* Deals css mobile end  */
  
  
  
/*  Desktop css  */
  

@media (min-width: 1520) {
  
.grid.deals_bab_bab {
    width: 100% !important;
}
  
.deals_bab_v2 .deals_container {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

}
        
</style>

    

  
</div>
<!--       <div class="grid__item small--one-fifth mobile-cart">
        <a href="/cart" class="site-nav__link site-nav__link--icon js-drawer-open-cart js-no-transition" aria-controls="CartDrawer">
          <span class="cart-link">
            <img src="//cdn.shopify.com/s/files/1/0248/8084/0813/t/90/assets/box_1.png?v=16023099898412344540">
            <span class="icon__fallback-text">Cart</span>
            <span class="cart-link__bubble"></span>
          </span>
        </a>
      </div> -->
    </div>
  <div id="first_div_under_heading" class="deals_bab_v2">
      <h2 id="first_heading">BEST. DEAL. EVER.</h2>
      <p id="first_p" class="centered_mobile">This Black Friday, we are giving you the<br class="mobile-hide" /> best deal we have EVER offered!</p>
<!--       <img class="apple_img" src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/apple2_2x_30614d52-5fdf-4634-b6c9-964d890ec0c9.png?v=1604582656"> -->
      <div class="deals_container custom-deals">
        <div class="deals_outer" id="first_deals_outer">
          <span class="first-span"><img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/deal-1.png?v=1606146953"/></span>
          <div id="first_div_after_pic" class="grid deals_bab_bab">
            <h3>Buy 2 boxes, Get 1 Box <br>of Salted Brownie Free.</h3>
            <p>
                 Total: $70, <span style="text-decoration:line-through">$105</span>
            </p>
            <div class="cart-container">
              <div class="cart-item">
                <div class="cart-item-image" style="background-image: url('https://cdn.shopify.com/s/files/1/0248/8084/0813/files/1_19c32eca-201c-4f85-9e4c-460774ed373e.png?v=1606151214');"></div>
                <a class="cart-item-button" data-variant="33166701035629" href="#klaviyo-modal" rel="modal:open">
                  <span>GET</span>
                  <span>NOTIFIED</span>
                </a>
              </div>
              <div class="cart-item">
                  <div class="cart-item-image" style="background-image: url('https://cdn.shopify.com/s/files/1/0248/8084/0813/files/2.png?v=1606151210');"></div>
                  <a class="cart-item-button" data-variant="33166701068397" href="#klaviyo-modal" rel="modal:open">
                    <span>GET</span>
                    <span>NOTIFIED</span>
                  </a>
              </div>
            </div>            
          </div>
          {% assign variant_id = 33166701035629 %}
          {% assign product = all_products['special-holiday-offer'] %}
          {% assign quantity = 0 %}
          {% for variant in product.variants %}
          	{% if variant.id == variant_id %}
          		{% assign quantity = quantity | plus: variant.inventory_quantity %}
          	{% endif %}
          {% endfor %}
          
          {% assign variant_id = 33166701068397 %}
          {% assign product = all_products['special-holiday-offer'] %}
          {% for variant in product.variants %}
          	{% if variant.id == variant_id %}
          		{% assign quantity = quantity | plus: variant.inventory_quantity %}
          	{% endif %}
          {% endfor %}
          <p class="centered_mobile">Only {{ quantity }} Remaining</p>
        </div>
        
        <div class="deals_outer" >
          <span id="sec_deals_outer_span"><img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/deal-2-final.png?v=1606147561"/></span>
          <div class="grid deals_bab_bab">
            <h3>Buy 3 boxes, Get 2 boxes <br>of Salted Brownie Free</h3>
            <p>
              Total: $105, <span style="text-decoration:line-through">$175</span>
            </p>
            <div class="cart-container">
              <div class="cart-item">
                <div class="cart-item-image" style="background-image: url('https://cdn.shopify.com/s/files/1/0248/8084/0813/files/3_353a660f-8384-45cf-b710-e5ec570d1268.png?v=1606151679');"></div>
                <a class="cart-item-button" data-variant="33166701101165" href="#klaviyo-modal" rel="modal:open">
                  <span>GET</span>
                  <span>NOTIFIED</span>
                </a>
              </div>
              <div class="cart-item">
                <div class="cart-item-image" style="background-image: url('https://cdn.shopify.com/s/files/1/0248/8084/0813/files/4_91735c18-a9d7-4684-9882-bd0b5bb383a1.png?v=1606151679');"></div>
                <a class="cart-item-button" data-variant="33166701133933" href="#klaviyo-modal" rel="modal:open">
                  <span>GET</span>
                  <span>NOTIFIED</span>
                </a>
              </div>
            </div>            
          </div>
          {% assign variant_id = 33166701101165 %}
          {% assign product = all_products['special-holiday-offer'] %}
          {% assign quantity = 0 %}
          {% for variant in product.variants %}
          	{% if variant.id == variant_id %}
          		{% assign quantity = quantity | plus: variant.inventory_quantity %}
          	{% endif %}
          {% endfor %}
          
          {% assign variant_id = 33166701133933 %}
          {% assign product = all_products['special-holiday-offer'] %}
          {% for variant in product.variants %}
          	{% if variant.id == variant_id %}
          		{% assign quantity = quantity | plus: variant.inventory_quantity %}
          	{% endif %}
          {% endfor %}
          <p class="centered_mobile">Only {{ quantity }} Remaining</p>
        </div>
        
        
       <!--    4 boxes      -->
        
        <div class="deals_outer">
          <span id="third_deals_outer_span"><img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/deals-3-final.png?v=1606148006"/></span>
          <div class="grid deals_bab_bab">
            <h3>Buy 4 boxes, Get 4 boxes <br>of Salted Brownie Free</h3>
            <p>
               Total: $140, <span style="text-decoration:line-through">$280</span>
            </p>
            <div class="cart-container">
              <div class="cart-item">
                <div class="cart-item-image" style="background-image: url('https://cdn.shopify.com/s/files/1/0248/8084/0813/files/5_556d2e2c-0176-40d2-926e-a1360fb729f8.png?v=1606151717');"></div>
                <a class="cart-item-button" data-variant="33166701166701" href="#klaviyo-modal" rel="modal:open">
                  <span>GET</span>
                  <span>NOTIFIED</span>
                </a>
              </div>
              <div class="cart-item">
                <div class="cart-item-image" style="background-image: url('https://cdn.shopify.com/s/files/1/0248/8084/0813/files/6_b268d6b4-a39d-49e3-afb3-0dabe6c257c3.png?v=1606151720');"></div>
                <a class="cart-item-button" data-variant="33166701199469" href="#klaviyo-modal" rel="modal:open">
                  <span>GET</span>
                  <span>NOTIFIED</span>
                </a>
              </div>
            </div>            
          </div>
          {% assign variant_id = 33166701166701 %}
          {% assign product = all_products['special-holiday-offer'] %}
          {% assign quantity = 0 %}
          {% for variant in product.variants %}
          	{% if variant.id == variant_id %}
          		{% assign quantity = quantity | plus: variant.inventory_quantity %}
          	{% endif %}
          {% endfor %}
          
          {% assign variant_id = 33166701199469 %}
          {% assign product = all_products['special-holiday-offer'] %}
          {% for variant in product.variants %}
          	{% if variant.id == variant_id %}
          		{% assign quantity = quantity | plus: variant.inventory_quantity %}
          	{% endif %}
          {% endfor %}
          <p class="centered_mobile">Only {{ quantity }} Remaining</p>
        </div>
        
        
        
        
        
      </div> <!-- Deals Container -->
    
    
    
    
    
  </div>
  
  
  
  <div class="deals_shipping_v2">
      <div class="deals_container">
<!--       <h2>HEALTHY HABITS <br> DELIVERED TO YOUR DOOR</h2> -->
        <div class="grid">
            <div class="grid__item small--one-half medium--one-quarter large-up--one-quarter">
              <img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/Group_24_2x_2.png?v=1604316077">
              <h6>Free <br> Shipping</h6>
<!--               <p>On any order over $55.</p> -->
            </div>
          	<div class="grid__item small--one-half medium--one-quarter large-up--one-quarter">
              <img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/guarantee_2x_6b7f1c1f-96de-41de-bff3-64f5a98d2e5c.png?v=1604315322">
              <h6>Satisfaction<br>Guaranteed</h6>
<!--               <p>On any order over $55.</p> -->
            </div>
<!--            	<div class="grid__item small--one-half medium--one-quarter large-up--one-quarter">
              <img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/guarantee_2x_6b7f1c1f-96de-41de-bff3-64f5a98d2e5c.png?v=1604315322">
              <h6>Satisfaction <br> Guaranteed</h6>
              <p>Don't love them? Return them.</p>
            </div>
          	<div class="grid__item small--one-half medium--one-quarter large-up--one-quarter">
              <img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/appointment_2x_4a5b8f91-1311-4b87-a6d5-0a4d8cf5924b.png?v=1604316031">
              <h6>Subscribe <br> & Save</h6>
              <p>Subscribers get 15% off.</p>
            </div>
          	<div class="grid__item small--one-half medium--one-quarter large-up--one-quarter">
              <img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/tongue_2x_989e50dc-e662-4159-8a39-daa317c6780c.png?v=1604316031">
              <h6>Flavors <br> are Flying</h6>
              <p>So good they sold out 4x already!</p>
            </div> -->
        </div>
      </div>
  </div>
  <div class="deals_countdown">
     <h2>OFFER ENDS IN</h2>
  	 <p id="countdown-timer1"></p>
  </div>
  
<!--  Deals Products  -->
  
  
  <div class="deals_product_desc">
    
    <img class="oath" src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/oath_2x_3x_46f8b5b7-14b2-41a8-b77f-e506feafcf39.png?v=1605994030">
    <img class="brownie" src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/Mask_Group_3.png?v=1605995067">
    <h1 id="h1_best_holiday_bars">THE BEST <br>HOLIDAY BARS</h1>
  </div>
  
  {% section 'bf_tabs_deals' %}
  
<!--   <div class="grid">
  
    <div class="grid__item small--one-half medium--one-quarter large-up--one-quarter">
      <img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/OC-Bar-Single_3x_f4e42572-0723-4b42-bcfd-9c14c4d7c26b.png?v=1605992597">
	  <a class="btn" href="/collections/level-bars">nutritional info.</a>
    </div>
    <div class="grid__item small--one-half medium--one-quarter large-up--one-quarter">
      <img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/OC-Bar-Single_3x_457ab8de-df51-4376-b08f-767750301700.png?v=1605992587">
  	  <a class="btn" href="/collections/level-bars">nutritional info.</a>
    </div>
  </div> -->
  
  
  
   <!--    Final Offer     -->
   
   <div class="deals_bab_v2 final_offer">
   <img  class="oath final_offer" src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/oath_2x_3x_46f8b5b7-14b2-41a8-b77f-e506feafcf39.png?v=1605994030">  
      
       
        <div class="deals_outer">
          
           <div class="deals_product_desc">

        
        
         
      </div>
          
          <span><img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/final-offer-2_1.png?v=1606160469"/></span>
          <div class="grid deals_bab_bab">
            <h3>Buy 1 Box, Get 6 Bars <br> Of Salted Brownie Free</h3>
            <p>
              Total: $35, <span style="text-decoration:line-through">$55</span>
            </p>
            <div class="cart-container">
              <div class="cart-item">
                <div class="cart-item-image" style="background-image: url('https://cdn.shopify.com/s/files/1/0248/8084/0813/files/7_35d80717-b319-4151-a30d-5c589136dee9.png?v=1606152278');"></div>
                <a class="cart-item-button" data-variant="33166701232237" href="#klaviyo-modal" rel="modal:open">
                  <span>GET</span>
                  <span>NOTIFIED</span>
                </a>
              </div>
              <div class="cart-item">
                <div class="cart-item-image" style="background-image: url('https://cdn.shopify.com/s/files/1/0248/8084/0813/files/8.png?v=1606152279');"></div>
                <a class="cart-item-button" data-variant="33166701265005" href="#klaviyo-modal" rel="modal:open">
                  <span>GET</span>
                  <span>NOTIFIED</span>
                </a>
              </div>
            </div>            
          </div>
          {% assign variant_id = 33166701232237 %}
          {% assign product = all_products['special-holiday-offer'] %}
          {% assign quantity = 0 %}
          {% for variant in product.variants %}
          	{% if variant.id == variant_id %}
          		{% assign quantity = quantity | plus: variant.inventory_quantity %}
          	{% endif %}
          {% endfor %}
          
          {% assign variant_id = 33166701265005 %}
          {% assign product = all_products['special-holiday-offer'] %}
          {% for variant in product.variants %}
          	{% if variant.id == variant_id %}
          		{% assign quantity = quantity | plus: variant.inventory_quantity %}
          	{% endif %}
          {% endfor %}
          <p class="centered_mobile">Only {{ quantity }} Remaining</p>
        </div>
  </div>
  
  <!--    Final Offer  Desktop Only   -->
   <div class="deals_bab_v2 final_offer_desktop">
     <div class="page-width">
      
     	<div class="fo_image"><span><img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/final-offer-2_1.png?v=1606160469"/></span>
		</div>
     	<div class="fo_description">
     <div class="deals_outer">
          
           <div class="deals_product_desc">

        <img id="img_on_desktop_hide" class="oath" src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/oath_2x_3x_46f8b5b7-14b2-41a8-b77f-e506feafcf39.png?v=1605994030">
         
      </div>
          
          <div class="grid deals_bab_bab">
            <h3 id="h3_one_box">Buy 1 Box, Get 6 Bars <br> Of Salted Brownie Free</h3>
            <p>
              Total: $35, <span style="text-decoration:line-through">$55</span>
            </p>
            <div class="cart-container">
              <div class="cart-item">
                <div class="cart-item-image cart-item-image_fix" style="background-image: url('https://cdn.shopify.com/s/files/1/0248/8084/0813/files/7_35d80717-b319-4151-a30d-5c589136dee9.png?v=1606152278');"></div>
                <a class="cart-item-button" data-variant="33166701232237" href="#klaviyo-modal" rel="modal:open">
                  <span>GET</span>
                  <span>NOTIFIED</span>
                </a>
              </div>
              <div class="cart-item">
                <div class="cart-item-image cart-item-image_fix" style="background-image: url('https://cdn.shopify.com/s/files/1/0248/8084/0813/files/8.png?v=1606152279');"></div>
                <a class="cart-item-button" data-variant="33166701265005" href="#klaviyo-modal" rel="modal:open">
                  <span>GET</span>
                  <span>NOTIFIED</span>
                </a>
              </div>
            </div>            
          </div>
       	  {% assign variant_id = 33166701232237 %}
          {% assign product = all_products['special-holiday-offer'] %}
          {% assign quantity = 0 %}
          {% for variant in product.variants %}
          	{% if variant.id == variant_id %}
          		{% assign quantity = quantity | plus: variant.inventory_quantity %}
          	{% endif %}
          {% endfor %}
          
          {% assign variant_id = 33166701265005 %}
          {% assign product = all_products['special-holiday-offer'] %}
          {% for variant in product.variants %}
          	{% if variant.id == variant_id %}
          		{% assign quantity = quantity | plus: variant.inventory_quantity %}
          	{% endif %}
          {% endfor %}
          <p class="centered_mobile">Only {{ quantity }} Remaining</p>
        </div>
     
     
     </div>
     
     </div>
     
  </div>
  
  <div class="deals_countdown">
     <h2>OFFER ENDS SOON</h2>
  	 <p id="countdown-timer2"></p>
  </div>
  
  
  
  
  <div class="deals_testimonials">
    <div class="deals_container">
      <h2>REVIEWS</h2>
      <p class="centered_mobile">Real reviews from real people!</p>
      {% section 'mini_bab_v2_testimonials' %}
    </div>
    <img class="deals_testimonials_oat" src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/oath_2x_cf95d4cc-560d-4417-a880-35b4b82b2e2d.png?v=1604595214">
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-width reviews_veriety_pack try_c">
          <div id="tab-2" class="reviews_tab">
              <div id="stamped-main-widget" data-widget-style="standard">
                  {{ product.metafields.stamped.reviews }}   
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  	<div id="klaviyo-modal" class="modal">
	  <div class="klaviyo-form-X7BJys"></div>
      <a href="#" rel="modal:close" class="modal-close1">Close</a>
	</div>
  
  <div class="deals_footer">
    <p>© 2020 LEVEL | <a href="https://level-foods.myshopify.com/pages/privacy-policy">Privacy Policy</a> | <a href="https://level-foods.myshopify.com/pages/terms-and-conditions">Terms and<br>Conditions</a> | <a href="https://levelfoods.com/pages/privacy-policy#doNotsell">Do Not Sell My Data</a> </p>
  </div>
	
</div>

<style>
  #klaviyo-modal a.close-modal {
  	display: none !important;
  }
  #klaviyo-modal .modal-close1 {
  	float: right;
    color: white;
    background-color: #000000;
    padding: 4px 18px;
/*     margin-right: 5px;
    margin-top: -5px; */
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 15px;
    font-size: 10px;
  }
</style>



<style>
  /** GENERAL CSS **/
  .bestdeal .modal a.close-modal {
  	top: -3px !important;
    right: -3px !important;
  }
  
  
  .cart-container{
  	width: 100%;
    padding: 0 21px;
  }
  
  .cart-item{
    display: flex;
    cursor: pointer;
    justify-content: center;
  }
  
  .cart-item + .cart-item{
  	margin-top: 16px;
  }
  
  .cart-item-image{
    background-size: 92%;
    background-position: center center;
    background-repeat: no-repeat;
    width: 70%;
    min-height: 70px;
    background-color: white;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0px 0px 9px rgba(150, 150, 150, 0.5);
  }
  
  .cart-item-button{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: black;
    color: #c7c2c2;
    font-size: 14px !important;
    border-radius: 0 !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    line-height: 19px;
    cursor: pointer;
    margin: unset !important;
  }
  
  .cart-item-button:hover {
  	color: white !important;
  }
  
  p#countdown-timer1, p#countdown-timer2 {
    background: #000;
    max-width: 300px;
    margin: 0 auto 7px;
    color: #fff;
    font-family: proxima-nova-condensed, sans-serif !important;
    font-weight: 900;
    font-size: 40px;
    line-height: 1;
    padding: 10px;
    text-align: center;
  }
  
  .deals_countdown h2 {
    margin-top: 7px;
  }
  
  .centered_mobile {
    text-align: center; 
  }
  
  div#yoHolder {
    display: none !important;
  }
  
  body > div:nth-last-child(3) {
  	display: none;
  }
  
  div#shopify-section-header {
    display: none;
  }
  
  div#shopify-section-footer {
    display: none;
  }
  
  div#sticky_button {
      display: block;
      opacity: 0;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      background: #fff;
      z-index: 9999999;
      -webkit-box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.08); 
	  box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.08);
      transition: all 0.3s ease-out;
  }
  
  div#sticky_button a.btn {
      font-size: 14px !important;
      font-weight: 400 !important;
      padding: 15px 25px;
      margin-top: 15px !important;
      margin-bottom: 15px !important;
      max-width: 220px;
  }
  
  .main-content {
    padding-top: 0;
    overflow: hidden;
  }
  
  .deals_container {
  	max-width: 1024px;  
    margin: auto;
  }
  
  .bestdeal h1, .bestdeal .h1, .bestdeal h2, .bestdeal .h2, .bestdeal h3, .bestdeal .h3, .bestdeal h4, .bestdeal .h4, .bestdeal h5, .bestdeal .h5, .bestdeal h6, .bestdeal .h6 {
    font-family: proxima-nova-condensed, sans-serif !important;
  }
  
  .bestdeal h1 {
  	font-size: 32px;
    margin: 40px auto 0;
    width: 70%;
    text-align: center;
    line-height: 1.2;
  }
  
  .deals_product_desc h2 {
  	font-size: 16px;
  }
  
  .bestdeal h2, .bestdeal .h2 {
    font-size: 25px;
    line-height: 1.25;
    text-align: center;
  }
  
  .deals_countdown {
    background: black;
    padding: 20px 0 10px;
  }
  
  .deals_countdown h2 {
    color: white;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 400;
  }

  .bestdeal p, .bestdeal a, .bestdeal li {
    font-family: "proxima-nova" !important;
  }
  
  .bestdeal > div {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .deal_page > .mainmenu {
  	background-color: #000;
  }
  
  .bestdeal .site-header__logo img {
    filter: invert(1);
    transform: scale(0.75);
  }
  
  .bestdeal .site-header__logo-link {
  	margin: 0 auto;
  }
  
  .bestdeal .grid.mainmenu {
  	background-color: black;
  }
  
  .bestdeal a {
    display: block;
    max-width: 300px;
    letter-spacing: 0 !important;
    margin: 10px auto;
    border-radius: 50px;
/*     font-size: 18px !important; */
  }
  
  /** BANNER **/
  
  .deals_banner_v2 {
    background-image: url(https://cdn.shopify.com/s/files/1/0248/8084/0813/files/Level_header_bg_mobile.jpg?v=1604584234);
    background-size: cover;
    background-position: center;
    height: 540px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    display: flex;
  }
  
  .deals_banner_v2 .deals_container {
    max-width: 100%;
    margin: 0 auto;
  }
  
  .deals_banner_v2 .banner_logo_heading {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .deals_banner_v2 .banner_text_button {
   	width: 100%; 
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    z-index: 9999;
  }
  
  .deals_banner_v2 img {
    max-width: 100px;
    margin: auto;
    display: block;
   }
  
  .deals_banner_v2 h1 {
      font-weight: 900;
      font-size: 35px;
      text-align: center;
      line-height: 1;
      width: 100%;
      margin-top: 35px;
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: 0;
      text-shadow: none !important;
  }
  
  .deals_banner_v2 p {
    font-size: 20px;
    line-height: 22px;
    font-weight: 900;
    text-align: center;
  }
  
  .deals_banner_v2 a.btn {
    font-size: 14px !important;
    font-weight: 400 !important;
    padding: 18px 25px;
    max-width: 210px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .deals_banner_v2 img.banner_main_img {
    width: 92%;
    max-width: 100%;
    height: 450px;
    object-fit: contain;
    object-position: right;
    margin-top: -110px;
    margin-bottom: -80px;
    margin-right: 0;
    position: relative;
  }
  
  /** BENEFITS **/
  
  .deals_benefits_v2 {
    padding-top: 60px;
    padding-bottom: 50px;
  }
  
  .deals_benefits_v2 .benefits_v2_container {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  
  .deals_benefits_v2 .benefits_v2_container .benefits_v2_body {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .deals_benefits_v2 .benefits_v2_container .benefits_v2_body:last-child {
   	margin-bottom: 0; 
  }
  
  .deals_benefits_v2 .benefits_v2_container .benefits_v2_body .benefits_v2_logo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .deals_benefits_v2 .benefits_v2_container .benefits_v2_body .benefits_v2_logo img {
    width: 80px;
  }
  
  .deals_benefits_v2 .benefits_v2_container .benefits_v2_body .benefits_v2_content {
    width: 100%;
    max-width: 220px;
    margin: 15px auto 0;
    text-align: center;
  }
  
  .deals_benefits_v2 .benefits_v2_container .benefits_v2_body .benefits_v2_content h6 {
    font-family: "proxima-nova" !important;
    font-weight: 700;
    letter-spacing: normal;
    text-transform: none;
    font-size: 15px;
  }
  
  .deals_benefits_v2 .benefits_v2_container .benefits_v2_body .benefits_v2_content p {
    font-family: "proxima-nova" !important;
    font-weight: 400;
    letter-spacing: normal;
    text-transform: none;
    font-size: 15px;
    line-height: 20px;
  }
 
  /** NUTRITION **/
  
  .deals_nutrition {
    background: #fcf8f5;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(https://cdn.shopify.com/s/files/1/0248/8084/0813/files/NEXT-LEVEL-NUTRITION.jpg?v=1604580713);
    background-size: contain;
    background-position: 0px -15px;
    background-repeat: no-repeat;
  }
  
  .desktop_nutrition_image {
   	display: none; 
  }
  
  .deals_nutrition h2 {
    margin-bottom: 25px;
  }
  
  .deals_nutrition .grid .grid__item:first-child {
    width: 40%;
  }
  
  .deals_nutrition .grid .grid__item:nth-child(2) {
    padding-left: 15px;
    padding-right: 20px;
    width: 60%;
  }
  
  .deals_nutrition .grid .grid__item:nth-child(2) > div {
    margin-bottom: 45px;
  }
  
  .deals_nutrition .grid .grid__item:nth-child(2) > div:last-child {
    margin-bottom: 25px;
  }
  
  .deals_nutrition .grid .grid__item .second_nutrition {
    padding-left: 0;
  }
  
  .deals_nutrition h3 {
    font-size: 16px;
    line-height: 1.25;
  }
  
  .deals_nutrition .grid .grid__item .second_nutrition ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .deals_nutrition li, .deals_nutrition p {
    font-size: 15px;
    font-weight: 700;
    color: #888;
    line-height: 20px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    max-width: 150px;
  }
  
  .deals_nutrition li img {
    max-width: 14px;
    margin-right: 5px;
  }
  
  .deals_nutrition a.btn {
    font-size: 14px !important;
    font-weight: 400 !important;
    padding: 18px 25px;
    max-width: 210px;
    margin-top: 25px;
  }
  
  /** TESTIMONIALS **/
  
  .bestdeal .deals_testimonials, .bestdeal .deals_testimonials .page-width {
   	padding-left: 0;
    padding-right: 0;
  }
  
  .deals_testimonials {
    padding-top: 50px;
    padding-bottom: 25px;
    position: relative;
  }
  
  .testimonial-carousel {
    width: 140%;
    margin-top: 50px;
    position: relative;
    z-index: 10;
  }
  
  .deals_testimonials img.deals_testimonials_oat {
    position: absolute;
    width: 175px;
    right: -20px;
    bottom: 0;
    z-index: 5;
  }
  
  .testimonial-carousel .carousel-cell {
    padding-left: 20px;
    position: relative;
  }
  
  .testimonial-carousel .carousel-cell img.testimonial-quotation {
    position: absolute;
    right: 5px;
    top: 60px;
    width: 60px;
  }
  
  .testimonial-carousel .carousel-cell img.testimonial-image {
    height: 250px;
    width: 160px;
    object-fit: cover;
    opacity: 0.50;
    transition: all 0.25s ease-out;
  }
  
  .testimonial-carousel .carousel-cell .testimonial-contents {
    margin-top: -120px;
    right: -70px;
    background-color: #fff !important;
    position: relative;
    max-width: 160px;
    padding: 15px;
    opacity: 0;
    transition: all 0.25s ease-out;
  }
  
  .testimonial-carousel .carousel-cell.slick-current .testimonial-contents {
	opacity: 1;
  }
  
  .testimonial-carousel .carousel-cell.slick-current img.testimonial-image {
    opacity: 1;
  }
  
  .testimonial-carousel .carousel-cell .testimonial-name h4 {
    font-size: 17px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0;
  }
  
  .testimonial-carousel .carousel-cell .testimonial-job h5 {
    font-family: "proxima-nova" !important;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.2;
    color: #000;
    text-transform: uppercase;
  }
  
  .testimonial-carousel .carousel-cell .testimonial-comment p {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.25;
    margin-top: 20px;
  }
  
  /** SEEN **/
  
  .deals_seen {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #232323;
  }
  
  .deals_seen h2 {
   	color: #fff; 
  }
  
  .deals_seen .grid .grid__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .deals_seen .grid .grid__item .seen_body {
    width: 48%;
    border: 1px solid #444;
    min-height: 50px;
    margin-bottom: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .deals_seen .grid .grid__item .seen_body:last-child img {
    width: 70%;
  }
  .deals_seen .grid .grid__item .seen_body:nth-child(3) img {
      width: 70%;
  }
  .deals_seen .grid .grid__item .seen_body:nth-child(2) img {
      width: 50%;
  }
  .deals_seen .grid .grid__item .seen_body:first-child img {
      width: 50%;
  }
  
  /** PRODUCT IMAGES **/
  
  .deals_bab_v2 {
    padding-top: 0;
    padding-bottom: 45px;
    position: relative;
    overflow: hidden;
  }
  
  .deals_bab_v2 > h2{
  	font-weight: 900;
    font-size: 32px;
    text-align: center;
    line-height: 36px;
    width: 100%;
    margin-top: 22px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: 0;
    text-shadow: none !important;
  }
  
  .deals_bab_v2 > p{
    font-weight: bold;
    text-align: center;
    padding: 0 20px;
  }
  
  .deals_bab_v2 img.apple_img {
    position: absolute;
    top: -10px;
    width: 185px;
    right: -50px;
  }
  
  .deals_bab_v2 img.banana_img {
    position: absolute;
    bottom: -15px;
    left: -80px;
    width: 185px;
  }
  
  .deals_bab_v2 a.btn {
    font-size: 14px !important;
    font-weight: 400 !important;
    padding: 18px 25px;
    max-width: 220px;
    margin-bottom: 50px;
  }
  
  .deals_bab_v2 .grid.deals_bab_bab {
/*     background-color: #FCF8F5; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 10px;
    margin-top: -140px;
    padding-top: 140px;
    padding-bottom: 24px;
  }
  
  .deals_bab_v2 .grid.deals_bab_bab h3 {
    margin: auto;
    font-size: 26px;
    line-height: 1;
    text-transform: none;
    font-weight: 700;
    font-family: proxima-nova-condensed, sans-serif !important;
  }
  
  .deals_bab_v2 .grid.deals_bab_bab h3 {
  	margin: auto;
  }
  
  .deals_bab_v2 .grid.deals_bab_minis {
    min-height: 375px;
    background-image: url(https://cdn.shopify.com/s/files/1/0248/8084/0813/files/4_2x_74d417b2-79f6-440c-9e96-4a0ca7da080d.png?v=1604582227);
    background-size: 180px;
    background-repeat: no-repeat;
    background-position: center 20px;
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    padding-top: 18em;
    align-items: flex-end;
    margin-bottom: 10px;
  }
  
  .deals_bab_v2 .grid.deals_bab_bars {
    min-height: 375px;
    background-image: url(https://cdn.shopify.com/s/files/1/0248/8084/0813/files/salted_brownie_1_1_1_2a7e6e8f-0e1d-4633-905b-926d75e22f4a.png?v=1604585948);
    background-size: 110px;
    background-repeat: no-repeat;
    background-position: center 30px;
    background-color: #FCF8F5;
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
  }
  
  .deals_bab_v2 .deals_outer p {
   	width: 70%;
    margin: 10px auto 30px;
    text-align: center;
  }
  
  /** SHIPPING **/
  
  .deals_shipping_v2 {
    padding-top: 0;
    padding-bottom: 50px;
    position: relative;
  }
  
  .deals_shipping_v2 .grid {
    max-width: 90%;
    margin: auto !important;
  }
  
  .deals_shipping_v2 .grid .grid__item {
    padding: 0 10px;
  }
  
  .deals_shipping_v2 .grid img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin: 20px auto 10px;
    display: block;
  }
  
  .deals_shipping_v2 h6 {
    letter-spacing: normal;
    text-align: center;
    font-size: 24px;
    line-height: 1;
    font-family: proxima-nova-condensed, sans-serif !important;
    text-transform: none;
    font-weight: 700;
    margin-top: 15px;
}
  
  .deals_shipping_v2 p {
    font-size: 15px;
    font-family: "proxima-nova" !important;
    line-height: 20px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: normal;
    text-align: center;
  }
  
  .deals_shipping_v2 img.brownie_image {
    position: absolute;
    width: 165px;
    bottom: -76px;
    right: -75px;
  }
  
  /** FOOTER **/
  
  .deals_footer {
    background: #000;
    color: #fff;
    padding: 15px;
    margin-bottom: 81px;
    text-align: center;
  }
  
  .deals_footer p {
    font-size: 15px;
    font-family: "proxima-nova" !important;
    margin-bottom: 0;
    line-height: 17.5px;
  }
  
  .deals_footer p a {
    display: inline;
    color: #f0e5d3 !important;
    font-weight: 700;
    font-size: 14px !important;
  }
  
  
  @media only screen and (min-width: 768px) {
    
    /** GENERAL CSS **/
    
    div#sticky_button {
      display: none !important;
    }
    
    .bestdeal h2, .bestdeal .h2 {
      font-size: 50px;
      font-weight: 900;
      line-height: 1;
    }

	/** BANNER **/
    
    .deals_banner_v2 {
      background-image: url(https://cdn.shopify.com/s/files/1/0248/8084/0813/files/Level_header_mobile.png?v=1604584238);
      background-size: contain;
      background-position: right;
      background-repeat: no-repeat;
      min-height: 75vh;
      padding-top: 25px;
      padding-bottom: 25px;
      display: flex;
    }
    
    .deals_banner_v2 img {
      max-width: 200px;
      margin: auto;
      display: block;
    }
    
    .deals_banner_v2 img.banner_main_img { 
		display: none;
    }
    
    .deals_banner_v2 .deals_container {
      max-width: 50%;
      width: 50%;
      margin: 0 auto 0 0;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      padding-left: 50px;
    }
    
    .deals_banner_v2 h1 {
      font-weight: 900;
      font-size: 80px;
      text-align: center;
      line-height: 1;
      width: 100%;
      margin-top: 45px;
      margin-bottom: 40px;
      margin-left: auto;
      margin-right: auto;
      max-width: 480px;
      text-shadow: none !important;
    }
    
    .deals_banner_v2 h1 br:nth-child(2) {
     	 display: none
    }
    
    .deals_banner_v2 p {
      font-size: 30px;
      line-height: 1;
      font-weight: 900;
      text-align: center;
    }
    
    .deals_banner_v2 a.btn {
      font-size: 20px !important;
      font-weight: 400 !important;
      padding: 18px 25px;
      max-width: 280px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
    }
    
    /** NUTRITION **/
    
    .deals_nutrition {
		background-image: none;
    }

	.deals_nutrition .desktop_nutrition_image {
      display: block;
      max-height: 300px;
      margin-right: 0;
      margin-left: auto;
      margin-top: 25px;
    }
    
    .deals_nutrition .grid .grid__item:nth-child(2) {
      padding-left: 10px;
      margin-left: 0;
      padding-right: 111px;
    }
    
    .deals_nutrition h3 {
      font-size: 25px;
      line-height: 1;
      margin-bottom: 0;
  	}
    
    .deals_nutrition li, .deals_nutrition p {
      font-size: 18px;
      max-width: 100%;
    }
    
    .deals_nutrition .grid .grid__item:nth-child(2) > div {
      margin-bottom: 50px;
  	}
    
    .deals_nutrition .grid .grid__item:nth-child(2) > div:last-child {
      margin-bottom: 0;
  	}

	/** BENEFITS **/
    
    .deals_benefits_v2 .benefits_v2_container .benefits_v2_body {
      width: 33.333%;
      display: flex;
      margin-bottom: 0;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      padding: 0 20px;
    }
    
    .deals_benefits_v2 .benefits_v2_container .benefits_v2_body .benefits_v2_logo {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    
    .deals_benefits_v2 .benefits_v2_container .benefits_v2_body .benefits_v2_logo img {
      width: 80px;
      height: 80px;
      object-fit: contain;
      margin-bottom: 20px;
    }
    
    .deals_benefits_v2 .benefits_v2_container .benefits_v2_body .benefits_v2_content {
      width: 100%;
      text-align: center;
    }
    
    .deals_benefits_v2 .benefits_v2_container .benefits_v2_body .benefits_v2_content p {
      margin-bottom: 0;
  	}
    
    .deals_nutrition a.btn {
      margin-top: 50px;
    }

	/** TESTIMONIALS **/
    
    .testimonial-carousel {
    	width: 100%;
    }
    
    .testimonial-carousel .carousel-cell img.testimonial-image {
      height: 275px;
      width: 75%;
      object-fit: cover;
      object-position: top;
      opacity: 1;
      transition: all 0.25s ease-out;
    }
    
    .testimonial-carousel .carousel-cell .testimonial-contents {
      margin-top: -80px;
      margin-right: 0;
      right: 0;
      margin-left: auto;
      background-color: #fff !important;
      position: relative;
      max-width: 250px;
      padding: 15px;
      opacity: 1;
      transition: all 0.25s ease-out;
    }
    
    .testimonial-carousel .carousel-cell .testimonial-comment p {
    	font-size: 20px;
    }
    
    .deals_testimonials img.deals_testimonials_oat {
      position: absolute;
      width: 255px;
      right: -5vw;
      bottom: -3vw;
      z-index: 5;
    }

	/** SEEN **/
    
    .deals_seen {
    	padding-top: 50px;
    	padding-bottom: 50px;
    }
    
    .deals_seen h2 {
      margin-bottom: 30px;
    }
    
    .deals_seen .grid .grid__item .seen_body {
      width: 24%;
      border: 1px solid #444;
      min-height: 70px;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    /** MB PRODUCTS **/
    
    .deals_bab_v2 {
      padding-top: 30px;
    }
    
    .deals_bab_v2 .deals_container {
      display: flex;
      justify-content: space-between;
    }
    
    .deals_bab_v2 .grid.deals_bab_bab {
      width: 32%;
    }
    
    .deals_bab_v2 .grid.deals_bab_minis {
      width: 32%;
  	}
    
    .deals_bab_v2 .grid.deals_bab_bars {
      width: 32%;
  	}
    
    .deals_bab_v2 img.apple_img {
      top: -10px;
      width: 235px;
      right: 0;
    }
    
    .deals_bab_v2 img.banana_img {
      bottom: -15px;
      left: 0;
      width: 235px;
    }

	/** SHIPPING **/
    
    .deals_shipping_v2 {
    	padding-bottom: 60px;
    }
    
    .deals_shipping ul {
        max-width: 420px;
    }
    
    .deals_shipping ul li {
    	font-size: 25px;
    }
    
    /** FOOTER **/
    
    .deals_footer {
      margin-bottom: 0;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    
    .deals_footer br {
      display: none;
    }
    
    .deals_shipping_v2 img.brownie_image {
      position: absolute;
      width: 225px;
      bottom: -106px;
      right: -75px;
    }
    
  }
  
@media only screen and (min-width: 901px) and (max-width: 1100px){
  
  /** GENERAL CSS **/
    
    div#sticky_button {
      display: none !important;
    }
    
    .bestdeal h2, .bestdeal .h2 {
      font-size: 50px;
      font-weight: 900;
      line-height: 1;
    }

	/** BANNER **/
    
    .deals_banner_v2 {
      background-image: url(https://cdn.shopify.com/s/files/1/0248/8084/0813/files/Level_header_mobile.png?v=1604584238);
      background-size: contain;
      background-position: right;
      background-repeat: no-repeat;
      min-height: 600px;
      padding-top: 25px;
      padding-bottom: 25px;
      display: flex;
    }
    
    .deals_banner_v2 img {
      max-width: 200px;
      margin: auto;
      display: block;
    }
    
    .deals_banner_v2 img.banner_main_img { 
		display: none;
    }
    
    .deals_banner_v2 .deals_container {
      max-width: 50%;
      width: 50%;
      margin: 0 auto 0 0;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      padding-left: 50px;
    }
    
    .deals_banner_v2 h1 {
      font-weight: 900;
      font-size: 60px;
      text-align: center;
      line-height: 1;
      max-width: 330px;
      width: 100%;
      margin-top: 25px;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      text-shadow: none !important;
    }
    
    .deals_banner_v2 h1 br:nth-child(2) {
     	 display: none
    }
    
    .deals_banner_v2 p {
      font-size: 30px;
      line-height: 1;
      font-weight: 900;
      text-align: center;
    }
    
    .deals_banner_v2 a.btn {
      font-size: 20px !important;
      font-weight: 400 !important;
      padding: 18px 25px;
      max-width: 280px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
    }
    
    /** NUTRITION **/
    
    .deals_nutrition {
		background-image: none;
    }

	.deals_nutrition .desktop_nutrition_image {
      display: block;
      max-height: 300px;
      margin-right: 0;
      margin-left: auto;
      margin-top: 25px;
    }
    
    .deals_nutrition .grid .grid__item:nth-child(2) {
      padding-left: 10px;
      margin-left: 0;
      padding-right: 111px;
    }
    
    .deals_nutrition h3 {
      font-size: 25px;
      line-height: 1;
      margin-bottom: 0;
  	}
    
    .deals_nutrition li, .deals_nutrition p {
      font-size: 18px;
      max-width: 100%;
    }
    
    .deals_nutrition .grid .grid__item:nth-child(2) > div {
      margin-bottom: 50px;
  	}
    
    .deals_nutrition .grid .grid__item:nth-child(2) > div:last-child {
      margin-bottom: 0;
  	}

	/** BENEFITS **/
  
    .deals_benefits_v2 .grid .grid__item {
      width: 100%;
    }
    
    .deals_benefits_v2 .benefits_v2_container .benefits_v2_body {
      width: 33.333%;
      display: flex;
      margin-bottom: 0;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      padding: 0 20px;
    }
    
    .deals_benefits_v2 .benefits_v2_container .benefits_v2_body .benefits_v2_logo {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    
    .deals_benefits_v2 .benefits_v2_container .benefits_v2_body .benefits_v2_logo img {
      width: 80px;
      height: 80px;
      object-fit: contain;
      margin-bottom: 20px;
    }
    
    .deals_benefits_v2 .benefits_v2_container .benefits_v2_body .benefits_v2_content {
      width: 100%;
      text-align: center;
    }
    
    .deals_benefits_v2 .benefits_v2_container .benefits_v2_body .benefits_v2_content p {
      margin-bottom: 0;
  	}
    
    .deals_nutrition a.btn {
      margin-top: 50px;
    }
  
  	/** TESTIMONIALS **/
    
    .deals_testimonials {
      padding-top: 75px;
      padding-bottom: 75px;
      position: relative;
    }
    
    .testimonial-carousel {
    	width: 100%;
    }
    
    .testimonial-carousel .carousel-cell img.testimonial-image {
      height: 275px;
      width: 75%;
      object-fit: cover;
      object-position: top;
      opacity: 1;
      transition: all 0.25s ease-out;
    }
    
    .testimonial-carousel .carousel-cell .testimonial-contents {
      margin-top: -80px;
      margin-right: 20px;
      right: 0;
      margin-left: auto;
      background-color: #fff !important;
      position: relative;
      max-width: 250px;
      padding: 15px;
      opacity: 1;
      transition: all 0.25s ease-out;
    }
    
    .deals_testimonials img.deals_testimonials_oat {
      position: absolute;
      width: 255px;
      right: -5vw;
      bottom: -3vw;
      z-index: 5;
    }
    
     .testimonial-carousel .carousel-cell img.testimonial-quotation {
      position: absolute;
      right: 15px;
      top: 80px;
      width: 60px;
    }

	/** SEEN **/
    
    .deals_seen {
    	padding-top: 50px;
    	padding-bottom: 50px;
    }
    
    .deals_seen h2 {
      margin-bottom: 30px;
    }
    
    .deals_seen .grid .grid__item .seen_body {
      width: 24%;
      border: 1px solid #444;
      min-height: 70px;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    /** MB PRODUCTS **/
    
    .deals_bab_v2 {
      padding-top: 75px;
    }
    
    .deals_bab_v2 .deals_container {
      display: flex;
      justify-content: space-between;
    }
    
    .deals_bab_v2 .grid.deals_bab_bab {
      width: 32%;
    }
    
    .deals_bab_v2 .grid.deals_bab_minis {
      width: 32%;
  	}
    
    .deals_bab_v2 .grid.deals_bab_bars {
      width: 32%;
  	}
    
    .deals_bab_v2 img.apple_img {
      top: -30px;
      width: 205px;
      right: -40px;
    }
    
    .deals_bab_v2 img.banana_img {
      bottom: -20px;
      left: -50px;
      width: 205px;
    }
  
	/** SHIPPING **/
    
    .deals_shipping_v2 {
    	padding-bottom: 40px;
    }
    
    .deals_shipping ul {
        max-width: 420px;
    }
    
    .deals_shipping ul li {
    	font-size: 25px;
    }
    
    /** FOOTER **/
    
    .deals_footer {
      margin-bottom: 0;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    
    .deals_footer br {
      display: none;
    }
    
    .deals_shipping_v2 img.brownie_image {
      position: absolute;
      width: 195px;
      bottom: -106px;
      right: -75px;
    }

}
  
@media only screen and (min-width: 768px) and (max-width: 900px){
    
    /** GENERAL **/
    
    .bestdeal h2, .bestdeal .h2 {
      font-size: 40px;
      line-height: 1;
      font-weight: 900;
    }
    
    /** BANNER **/
    
    .deals_banner_v2 {
      height: 450px;
    }
  
  	.deals_banner_v2 p {
      text-align: left;
    }
  
    .deals_banner_v2 a.btn {
      margin-left: 0;
      margin-right: auto;
    }
    
    .deals_banner_v2 .deals_container {
      max-width: 100%;
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
      position: relative;
    }
    
    .deals_banner_v2 img {
      max-width: 150px;
      margin: 0 auto 0 0;
      display: block;
    }
    
    .deals_banner_v2 h1 {
      font-weight: 900;
      font-size: 60px;
      max-width: 350px;
      text-align: left;
      line-height: 1;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 10px;
      margin-left: 0;
      margin-right: auto;
      text-shadow: none !important;
    }
    
    .deals_banner_v2 img.banner_main_img {
      width: 92%;
      max-width: 100%;
      height: 500px;
      object-fit: contain;
      object-position: right;
      right: -20px;
      top: -20px;
      bottom: 0px;
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 0;
      position: absolute;
    }
    
    /** BENEFITS **/
    
    .deals_benefits_v2 .benefits_v2_container {
      align-items: flex-start;
    }
    
    .deals_benefits_v2 .benefits_v2_container .benefits_v2_body {
      width: 32%;
      display: flex;
      margin-bottom: 0;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    
    .deals_benefits_v2 .benefits_v2_container .benefits_v2_body .benefits_v2_logo img {
      width: 80px;
      height: 80px;
      object-fit: contain;
    }
    
    /** NUTRITION **/
    
    .deals_nutrition {
		background-image: none;
    }

	.deals_nutrition .desktop_nutrition_image {
      display: block;
      max-height: 300px;
      margin-right: 0;
      margin-left: auto;
      margin-top: 25px;
    }
    
    .deals_nutrition .grid .grid__item:nth-child(2) {
      padding-left: 10px;
      margin-left: 0;
      padding-right: 111px;
    }
    
    .deals_nutrition h3 {
      font-size: 25px;
      line-height: 1;
      margin-bottom: 0;
  	}
    
    .deals_nutrition li, .deals_nutrition p {
      font-size: 18px;
      max-width: 100%;
    }
    
    .deals_nutrition .grid .grid__item:nth-child(2) > div {
      margin-bottom: 50px;
  	}
    
    .deals_nutrition .grid .grid__item:nth-child(2) > div:last-child {
      margin-bottom: 0;
  	}
    
    /** TESTIMONIALS **/
    
    .deals_testimonials {
      padding-top: 75px;
      padding-bottom: 75px;
      position: relative;
    }
    
    .testimonial-carousel {
    	width: 100%;
    }
    
    .testimonial-carousel .carousel-cell img.testimonial-image {
      height: 275px;
      width: 75%;
      object-fit: cover;
      object-position: top;
      opacity: 1;
      transition: all 0.25s ease-out;
    }
    
    .testimonial-carousel .carousel-cell .testimonial-contents {
      margin-top: -80px;
      margin-right: 20px;
      right: 0;
      margin-left: auto;
      background-color: #fff !important;
      position: relative;
      max-width: 250px;
      padding: 15px;
      opacity: 1;
      transition: all 0.25s ease-out;
    }
    
    .deals_testimonials img.deals_testimonials_oat {
      position: absolute;
      width: 255px;
      right: -5vw;
      bottom: -3vw;
      z-index: 5;
    }
    
     .testimonial-carousel .carousel-cell img.testimonial-quotation {
      position: absolute;
      right: 15px;
      top: 80px;
      width: 60px;
    }
    
    /** SEEN **/
    
    .deals_seen {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    
    .deals_seen .grid .grid__item .seen_body {
      width: 24%;
      border: 1px solid #444;
      min-height: 50px;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    /** MB PRODUCTS **/
    
    .deals_bab_v2 {
      padding-top: 75px;
    }
    
    .deals_bab_v2 .deals_container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    
    .deals_bab_v2 .grid.deals_bab_bab {
      width: 48%;
      margin-bottom: 15px;
    }
    
    .deals_bab_v2 .grid.deals_bab_minis {
      width: 48%;
      margin-bottom: 15px;
  	}
    
    .deals_bab_v2 .grid.deals_bab_bars {
      width: 48%;
  	}
    
    .deals_bab_v2 img.apple_img {
      top: -10px;
      width: 205px;
      right: -30px;
    }
    
    .deals_bab_v2 img.banana_img {
      bottom: -20px;
      left: 80px;
      width: 205px;
    }
    
    /** SHIPPING **/
    
    .deals_shipping ul {
      max-width: 310px;
    }
    
  }
  
  
  
  /*  Desktop css  */
  

@media only screen and (min-width: 1101px) {
  
ul.reg-switch.tabs h4 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
  }
  
  ul.reg-switch.tabs h6 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    margin-bottom: 15px;
  }
  
#bf1 .tabs-outer ul {
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

#bf1 .tabs-outer {
    width: 77%;
    max-width: 1024px;
    margin: 0 auto;
    display: inline-block;
}  

#bf1 .tabs-outer ul h6 {
 	text-align: center;  
  	margin-bottom: 20px;
}
  
#bf1 .tabs-outer ul  p.reg-switch {
 	width: 100%;
  	display: block;
}
  
.deals_bab_v2 .grid.deals_bab_bab {
    width: 100% !important;
}
 
  
.deals_bab_v2 .deals_container {
    display: flex;
    justify-content: space-between !important;
    align-items: center !important;
      gap: 10px !important;
  padding-top: 75px !important;
}  
  
  
.deals_bab_v2 .grid.deals_bab_bab {
    background-color: transparent !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    margin-bottom: 10px !important;
    margin-top: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 24px !important;
}
  
  
.deals_outer img {
    margin-bottom: 20px !important;
    margin-top: -50px;
} 
  
  
/* different bg for the containers   */
  
  .deals_container .deals_outer:nth-child(1) {
    background: linear-gradient(0deg, #F6F2EF 90%, #fff 10%) !important;
}  
  .deals_container .deals_outer:nth-child(2) {
/*     background: linear-gradient(0deg, #F1E8E3 90%, #fff 10%) !important; */
    background: linear-gradient(0deg, #F6F2EF 90%, #fff 10%) !important;
}
    .deals_container .deals_outer:nth-child(3) {
/*     background: linear-gradient(0deg, #EFEDEB 90%, #fff 10%) !important; */
      background: linear-gradient(0deg, #F6F2EF 90%, #fff 10%) !important;
}
  
/* different bg for the containers end */
  

/*  h1  */

.mb_banner_v2 h1 {
    font-weight: 900;
    font-size: 80px;
    text-align: center;
    line-height: 1;
    width: 100%;
    margin-top: 45px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 480px;
    text-shadow: none !important;
}
  
/* p  */
  .mb_banner_v2 p {
    font-size: 30px;
    line-height: 1;
    font-weight: 900;
    text-align: center;
}

/*  h2  */
.mb_page h2, .mb_page .h2 {
    font-size: 50px;
    font-weight: 900;
    line-height: 1;
}  
  
/* h3   */
  .mb_nutrition h3 {
    font-size: 25px;
    line-height: 1;
    margin-bottom: 0;
}
  
/* section padding top-bottom 50 */
  
/* Main css for typography   */
.bestdeal .deals_bab_v2 h2 {
 	font-weight: 900;
    font-size: 80px;
  	line-height:1;
    text-align: center;
    line-height: 1;
    width: 100%;
    margin-top: 45px;\
    margin-left: auto;
    margin-right: auto;
    text-shadow: none !important;
}  
  

.deals_bab_v2 > p {
    font-size: 26px;
    line-height: 1;
    text-transform: none;
    font-weight: 700;
    font-family: proxima-nova-condensed, sans-serif !important;
}

.grid {
    display: flex;
    justify-content: center;
    max-width: 100%;
}
  
  .deals_countdown h2 {
    font-weight:normal;
  }
  
.deals_product_desc {
    position: relative;
}
img.brownie {
    position: absolute;
    top: -120px;
    right: 0;
}
  
img.oath {
    position: absolute;
    left: -230px;
    top: -195px;
}
  
.deals_product_desc h1 {
    font-weight: 900 !important;
    font-size: 80px !important;
    line-height: 90px !important;
    text-align: center;
    width: 100%;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    max-width: 510px !important;
    text-shadow: none !important;
}
  
  .deals_product_desc p {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
  }
  
.deals_bab_v2.final_offer {
    display: none;
}
.deals_bab_v2.final_offer_desktop {
    display: flex;
    align-items: center;
    justify-content: center;
  background: linear-gradient(4169deg, #F6F6F6, #E5DED7);
  padding: 0px 0px 0px 0px !important;
      margin-top: 45px !important;
}
  
  
 h1.site-header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 177px;
    margin: 0;
    width: 100%;
} 
 
.bestdeal .deals_product_desc h2{
    font-size: 50px;
    font-weight: 700 !important;
    line-height: 1;
}  
.fo_image {
    flex: 1 !important;
}
  
  .deals_testimonials h2 {
    font-weight: 900 !important;
    font-size: 80px !important;
    line-height: 1 !important;
    text-align: center;
    width: 100%;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    max-width: 510px !important;
    text-shadow: none !important;
  
  }  

.bestdeal .grid.mainmenu {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:120px;
}
  
 .bestdeal .site-header__logo img {
    filter: invert(1)  !important;
    transform: scale(1.5) !important;
}  
  
  
  
.custom-deals .cart-item-button {
    width: 43% !important;
    font-size: 13px !important;
    gap: 3px !important;
    flex-direction: row !important;
}
  
.fo_description .cart-item-button {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    width: 43% !important;
    background-color: black;
    color: #c7c2c2;
    font-size: 14px !important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    line-height: 19px;
    cursor: pointer;
    gap: 3px !important;
}
  
  
.deals_testimonials h2 {
    font-weight: 900 !important;
    font-size: 80px !important;
    line-height: 90px !important;
    text-align: center;
    width: 100%;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    max-width: 510px !important;
    text-shadow: none !important;
}
  
  
  .deals_product_desc h1 {
  text-shadow:none !important;
  }
  
  
  
  
  
  
}
  
/* Desktop css end */
  

/* iPad styles   */
  
@media (min-width:768px) and (max-width:1100px) {
  
.deals_bab_v2 {
    padding-top: 40px !important;
}
  
  
.deals_bab_v2 .deals_container {
    display: flex !important;
    flex-wrap: nowrap !important;
    justify-content: left !important;
    gap: 4px !important;
    padding-top: 75px !important;
}
.deals_bab_v2 .grid.deals_bab_bab {
    width: 100% !important;
}
  
.deals_shipping_v2 {
    padding-bottom: 73px !important;
}
.deals_bab_v2.final_offer {
    display: none !important;
}
  .deals_bab_v2.final_offer {
    display: none !important;
}

img.oath {position: absolute!important;left: -195px!important;top: -227px!important;}

.deals_product_desc {
    position: relative!important;
}

img.brownie {
    position: absolute!important;
    top: -128px!important;
    right: 0!important;
}  
  
/* Typography   */
  /* Product section */
  
  .bestdeal h1 {
    font-size: 42.67px !important;
    margin: 40px auto 0;
    width: 90% !important;
    text-align: center;
    line-height: 1;
    text-shadow: none !important;
}
.bestdeal h2, .bestdeal .h2 {
    font-size: 55.33px !important;
    line-height: 55px !important;
    text-align: center;
    text-shadow: none !important;
}
  
  .deals_product_desc p {
    font-size: 20px;
    line-height: 27px;
    color: #020202;
    text-shadow:none!important;
}
.grid {
    display: flex;
    justify-content: center;
    max-width: 100%;
}
  
.bestdeal a {
    display: block;
    max-width: 136px !important;
    letter-spacing: 0 !important;
    margin: 10px auto;!important;
    border-radius: 6.6px !important;
/*     font-size: 18px !important; */
    line-height: 28px !important;
    padding: 22px 8px 18px 8px !important;
}

.deals_bab_v2.final_offer_desktop {
    padding-left: 0px !important;
    padding-right: 0px !important;
  	background: linear-gradient(4169deg, #F6F6F6, #E5DED7);
  	margin-top: 35px !important;
}
  
.cart-item-button {

    font-size: 12px !important; 
  
}
  
  .fo_description h1{
  padding-bottom: 12px !important;
  
  
  }  

  
.deals_testimonials h2 {
    font-size: 21.33px !important;
    line-height: 31px !important;
    text-align: center;
    text-shadow: none !important;
}
  
  
  
}
/* iPad styles end  */
  
  
/* For all views */

  h1, h2, h1#h1_best_holiday_bars, h1#h1_FINAL_OFFER{
  
  text-shadow:none !important;
  }
.deals_container.custom-deals h3 {
    text-align: center;
}
  
  
  
</style>

  
<style type="text/css">
  .page-width.reviews_veriety_pack.try_c{
  
 padding-top:0px;
    margin-top:0px;
  }
  .page-width.reviews_veriety_pack.try_c h3{
  
 font-size: 2.5em;
text-transform: uppercase;
  }
  .page-width.reviews_veriety_pack.try_c .stamped-review-body h3{font-size:18px; text-transform:none;}
  .page-width.reviews_veriety_pack.try_c .reviews_tab {border:none; padding-top:0px; padding-bottom:0px;}
  
  .bestdeal #stamped-main-widget .stamped-header .stamped-starrating i,
  .bestdeal #stamped-main-widget .stamped-review-header .stamped-starratings i {
    color: #dac3b6 !important;
  }
  
  .deals_container .deals_outer:nth-child(1) {
    background: #F6F2EF !important;
    border-radius: 10px;
  }  
  .deals_container .deals_outer:nth-child(2) {
 background: #F6F2EF !important;
    border-radius: 10px;
  }
  .deals_container .deals_outer:nth-child(3) {
 background: #F6F2EF !important;
    border-radius: 10px;
  }

  .bestdeal .custom-deals .deals_outer {
    width: 33%;
  }
  .bestdeal #first_deals_outer .first-span {
    display: block;
    position: relative;
  }
  .bestdeal #sec_deals_outer_span {
    display: block;
    position: relative;
    margin-bottom: 0;
  }
  .bestdeal #third_deals_outer_span {
    display: block;
    position: relative;
    margin-bottom: 0;
  }
  #first_div_under_heading {
    padding-top: 40px;
  }
  .deals_bab_v2 .custom-deals .deals_outer p {
    width: 80%;
    margin: 10px auto 30px;
    text-align: center;
  }
  .bestdeal .mobile-hide {
    display: none;
  }
  @media (max-width: 1100px) {
    .bestdeal .deals_bab_v2.final_offer_desktop .cart-item-image {
      background-size: contain;
    }
  }
  @media (max-width: 1000px) {
    #first_img_for_dis {
      width: 420px !important;
  	}
    .bestdeal #first_deals_outer #first_img_for_dis {
      top: -38px;
      left: 3px;
  	}
  }
  @media (max-width: 959px) {
    #first_img_for_dis {
      width: 380px !important;
  	}
    .bestdeal #first_deals_outer #first_img_for_dis {
      top: -27px;
      left: 12px;
  	}
  }
  @media (max-width: 889px) {
    #first_img_for_dis {
      width: unset !important;
  	}
    .bestdeal #first_deals_outer #first_img_for_dis {
      top: -27px;
      left: 12px;
  	}
  }
  @media (max-width: 859px) {
    .deals_bab_v2 .custom-deals .deals_outer p {
      width: 91%;
    }
  }
  @media (max-width: 799px) {
    .bestdeal #first_deals_outer #first_img_for_dis {
      left: 0px;
      right: 0;
      margin: auto;
  	}
  }
  @media (max-width: 767px) {
    #first_deals_outer {
      width: 100% !important;
      margin-top: 50px;
      border-radius: 10px;
    }
    .bestdeal .custom-deals .deals_outer {
      width: 100%;
      border-radius: 10px;
    }
    .bestdeal #first_deals_outer .first-span {
      height: 130px;
    }
    #first_img_for_dis {
      width: 480px !important;
    }
    .bestdeal #first_deals_outer #first_img_for_dis {
      top: -50px;
      left: 54px;
    }
    .bestdeal .custom-deals .deals_outer .centered_mobile {
      padding-bottom: 30px !important;
    }
    .bestdeal #third_deals_outer_span {
      height: 130px;
  	}
    .bestdeal #third_deals_outer_span img {
      position: absolute;
      top: -25px;
    }
    .bestdeal .deals_bab_v2.final_offer .cart-item-image {
      background-size: contain;
    }
    .cart-item-image {
    	background-size: contain;
    }
    .bestdeal .mobile-hide {
    	display: block;
    }
  }
  @media (max-width: 599px) {
    #first_div_after_pic {
      padding-top: 0;
  	}
  }
  @media (max-width: 459px) {
    .bestdeal #first_deals_outer #first_img_for_dis {
      left: 0;
      right: 0;
      margin: auto;
      max-width: 400px;
      top: -70px;
  	}
  }
  @media (max-width: 419px) {
    .cart-item-image {
    	background-size: 92%;
    }
  }
  @media (max-width: 408px) {
    #first_p br {
    display: none;
}
    .bestdeal .custom-deals .deals_outer .centered_mobile {
    padding-bottom: 0px !important;
}
    .bestdeal #sec_deals_outer_span {
      height: 90px;
  }
     .deals_container.custom-deals {
        display: flex;
      	flex-wrap: wrap;
       	gap: 75px;
  	}
    .deals_container.custom-deals .deals_outer img {
      position: absolute;
      top: -50px !important;
    }
    .bestdeal #first_deals_outer #first_img_for_dis {
      left: 0px;
  	}
    #first_img_for_dis {
      width: 100% !important;
  	}
    .bestdeal #first_deals_outer .first-span {
      height: 110px;
  	}
  }
  @media (max-width: 374px) {
    .bestdeal .deals_product_desc {
    	position: relative;
    }
    .bestdeal .deals_product_desc .brownie {
      position: absolute;
      right: -15px;
      top: -42px;
      width: 164px;
  	}
    .bestdeal #first_deals_outer .first-span {
      height: 160px;
  	}
    .bestdeal #first_deals_outer #first_img_for_dis {
      top: -18px;
    }
    .bestdeal .reg-switch.tabs {
      display: flex;
    }
  }
  @media (max-width: 349px) {
    .bestdeal .mobile-hide {
      display: none;
    }
  }
  
</style>

<style>
  /** RESPONSIVE STYLING **/
  
  @media (max-width:767px) {
    .mobile_nfp_bf {
     	display: block; 	
    }
    .desktop_nfp_bf {
     	display:none; 
    }
    .deals_shipping_v2 {
    	padding-top: 10px;
    }
    .deals_bab_v2 > p {
		font-family: proxima-nova-condensed, sans-serif !important;
    }
  }
  @media (min-width:400px) and (max-width:767px) {
    .bestdeal #sec_deals_outer_span {
        height: 100px;
    }
    .deals_container.custom-deals .deals_outer img {
      position: absolute;
      top: -50px !important;
    }
    .deals_container.custom-deals {
        display: flex;
      	flex-wrap: wrap;
       	gap: 75px;
  	}
    #first_div_after_pic {
      padding-top: 0;
      margin-top: 0;
    }
  	.bestdeal #first_deals_outer #first_img_for_dis {
        top: -40px !important;
    }
    .deals_outer span#sec_deals_outer_span img {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
    }
    .deals_outer span#third_deals_outer_span img {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
    }
    ul.reg-switch.tabs h6 {
      margin-bottom: 15px;
    }
  }
  @media (min-width:768px) and (max-width:1023px) {
    .deals_testimonials h2 {
    font-size: 55.33px !important;
    line-height: 55px !important;
    text-align: center;
    text-shadow: none !important;
}
    .deals_bab_v2.final_offer_desktop .cart-container {
    max-width: 400px;
    margin: auto;
}
    ul.reg-switch.tabs h4 {
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}
    #bf1 .tabs-outer ul {
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
    }
    .mobile_nfp_bf {
     	display: none; 	
    }
    .desktop_nfp_bf {
     	display:block; 
    }
    .deals_container.custom-deals .deals_outer img {
      position: absolute;
      top: -50px;
  }
    .bestdeal #first_deals_outer .first-span {
      height: 100px;
  }
    .bestdeal #sec_deals_outer_span {
    height: 100px;
}
    .bestdeal #third_deals_outer_span {
    	height: 100px;
    }
    .deals_bab_v2 .deals_container {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-around !important;
    gap: 0 !important;
    padding-top: 75px !important;
}
    .bestdeal .custom-deals .deals_outer {
    width: 46% !important;
    margin-bottom: 75px;
}
    .bestdeal .custom-deals .deals_outer:last-child {
     	margin-bottom: 0; 
    }
  	.bestdeal #first_deals_outer #first_img_for_dis {
        top: -40px !important;
    }
    .deals_outer span#sec_deals_outer_span img {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
    }
    .deals_outer span#third_deals_outer_span img {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
    }
    ul.reg-switch.tabs h6 {
      margin-bottom: 15px;
    }
  }
  @media (min-width:1024px) and (max-width:1099px) {
    
    .deals_bab_v2.final_offer_desktop .cart-container {
    max-width: 400px;
    margin: auto;
}
    ul.reg-switch.tabs h4 {
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}
    #bf1 .tabs-outer ul {
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
    }
    .mobile_nfp_bf {
     	display: none; 	
    }
    .desktop_nfp_bf {
     	display:block; 
    }
    .deals_container.custom-deals .deals_outer img {
      position: absolute;
      top: -50px;
  }
    .bestdeal #first_deals_outer .first-span {
      height: 100px;
  }
    .bestdeal #sec_deals_outer_span {
    height: 100px;
}
    .bestdeal #third_deals_outer_span {
    	height: 100px;
    }
    .deals_bab_v2 .deals_container {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-around !important;
    gap: 0 !important;
    padding-top: 75px !important;
}
    
    .deals_bab_v2.final_offer_desktop .page-width {
    display: flex;
    flex-wrap: wrap;
}
    
    .deals_bab_v2.final_offer_desktop .page-width .fo_image {
    width: 60%;
      display: flex;
      align-items: center;
}
    
    .deals_bab_v2.final_offer_desktop .page-width .fo_description {
    width: 40%;
      display: flex;
      align-items: center;
}

    .deals_bab_v2.final_offer_desktop .page-width .fo_description .deals_outer {
    width: 100%;
}
    
    .deals_bab_v2.final_offer_desktop .page-width .fo_description p:last-child {
     	margin-bottom: 0; 
    }
  
  }
  @media (min-width:1100px) {
    .mobile_nfp_bf {
     	display: none; 	
    }
    .desktop_nfp_bf {
     	display:block; 
    }
    .deals_bab_v2.final_offer_desktop .page-width {
      display: flex;
      max-width: 1200px;
    }
    .fo_image {
      flex: 1 !important;
      display: flex;
      align-items: center;
      width: 70%;
      padding-top: 50px;
      padding-bottom: 25px;
    }
    .fo_description {
      display: flex;
      align-items: center;
      width: 30%;
    }
    .fo_description .deals_outer {
      width: 100%;
    }
    .fo_description .deals_outer h3 {
      text-align: center;
    }
    .deals_bab_v2.final_offer_desktop .deals_outer p:last-child {
      margin-bottom: 0;
    }
  }
</style>
<!-- <style>
  #klaviyo-modal-open {
  	display: none;
  }
</style> -->
<script>
  
  $(document).ready(function() {
    
//     $('.bestdeal').on('click', '.cart-item-button', function() {
//       console.log('ff')
//       $('.bestdeal #klaviyo-modal-open').on('click');
//     })
  })
  
// Set the date we're counting down to
;var countDownDate = new Date('January 1, 2050 00:00:00 GMT-08:00').getTime();
  
// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor(((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("countdown-timer1").innerHTML = hours + "h "
  + minutes + "m " + seconds + "s ";
  document.getElementById("countdown-timer2").innerHTML = hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is finished, write some text
  if (distance < 0) {
    countDownDate = new Date('January 1, 2050 00:00:00 GMT-08:00').getTime();
  }
}, 1000);
  
</script>

{% comment %}ECPWS{% endcomment %}{% endcapture %}{% include 'ec-passwordify' %}